{% extends "base.html" %}

{% block meta_header %}{% if article and article.meta %}
<meta name="description" content="{{ article.meta }}">
<meta property="og:url" content="{{ SITEURL }}/blog/{{ article.slug }}.html" />
<meta property="og:title" content="{{ article.title }}" />
<meta property="og:description" content="{{ article.meta }}" />
<meta property="og:image" content="{{ SITEURL }}{{ article.headerimage }}" />
{% endif %}{% endblock %}

{% block title %}{% if article %}{{ article.title }} - {% endif %}{% endblock %}

{% block css %}
{% include "css/article.html" %}
{% endblock %}

{% block banner %}
  {% include "banner.html" %}
{% endblock %}


{% block content %}
{% if article %}
<div class="row">
 <div class="col-md-12">
  <h1 style="font-size: 36px;">{{ article.title }}</h1>
  <div style="font-size:12px;color:#666;margin:0 0 10px">
   {% if article.modified != article.date %}
     Post updated by <a href="/about-author.html">Matt Makai</a> on 
     {{ article.modified.strftime('%B %d, %Y') }}. Originally posted
     on {{ article.date.strftime('%B %d, %Y') }}.
   {% else %} 
     Posted by <a href="/about-author.html">Matt Makai</a> on 
     {{ article.date.strftime('%B %d, %Y') }}.
   {% endif %}
  </div>
 </div>
</div>
<div class="row">
 <div class="col-md-9">
  {{ article.content }}
  <hr>
  {% include "email-for-book.html" %}
  {% endif %}
 </div>
 <div class="col-md-3">
  {% include "article-sidebar.html" %}
 </div>
</div>
{% endblock %}

{% block lower_banner %}
{% endblock %}
