{% if false %}
<div style="margin: 0 0 12px;background-color: #22B24C;">
 <div class="cn">
  <p class="banner sns">
   <a href="https://boards.greenhouse.io/twilio/jobs/1830237" style="color: #fff">Join my team at Twilio as a Python developer! Remote position, anywhere in US or EU.</a>
  </p>
 </div>
</div>
{% if page and (page.slug == 'development-environments' or  page.slug == 'best-python-videos' or page.slug == 'learning-programming' or page.slug == 'web-development' or page.slug == 'why-use-python' or page.slug == 'javascript' or page.slug == 'cascading-style-sheets' or page.slug == 'python-2-or-3' or page.slug == 'introduction' or page.slug == 'best-python-podcasts') %}
<div style="margin: 0 0 12px;background-color: #22B24C;">
 <div class="cn">
  <p class="banner sns">
   <a href="https://training.talkpython.fm/courses/explore_entrepreneurs/python-for-entrepreneurs-build-and-launch-your-online-business" style="color: #fff">Python for Entrepreneurs: learn Python while building your own business</a>!
  </p>
 </div>
</div>
{% endif %}
{% endif %}
