{% extends "base.html" %}

{% block meta_header %}
<meta name="description" content="A blog with tutorials for Full Stack Python developers.">
{% endblock %}

{% block title %}Blog - {% endblock %}
{% block css %}<style>{% include "css/base.css" %}{% include "css/responsive.css" %}</style>{% endblock %}

{% block banner %}{% endblock %}

{% block content %}
<div class="row">
 <div class="c12">
  <h1 style="display:none">Blog Tutorials</h1>
  {% for a in articles %}
   {% if a.headerimage and a.headeralt %}
    <div class="row" style="padding-top: 30px;">
     <div class="c3">
      <img src="{{ a.headerimage }}" alt="{{ a.headeralt }}" width="100%" style="padding:4px 0 6px 0;border-radius:12px">
     </div>
     <div class="c9">
   {% endif %}
   <h2 style="padding-top:0;margin-top:0"><a href="/blog/{{ a.slug }}.html">{{ a.title }}</a></h2>
   <div style="font-size:12px;color:#666;margin:0 0 10px">
           {% if a.modified != a.date %}
             Post updated by 
             {% if a.author == "Matt Makai" %}<a href="/about-author.html">Matt Makai</a>{% else %}<a href="{{ a.authorlink }}">{{ a.author }}</a>{% endif %}
             on {{ a.modified.strftime('%B %d, %Y') }}. Originally posted
             on {{ a.date.strftime('%B %d, %Y') }}.
           {% else %} 
             Posted by
             {% if a.author == "Matt Makai" %}<a href="/about-author.html">Matt Makai</a>{% else %}<a href="{{ a.authorlink }}">{{ a.author }}</a>{% endif %}
             on {{ a.date.strftime('%B %d, %Y') }}.
           {% endif %}
     </div>
    {{ a.content|truncate(350) }} (<a href="/blog/{{ a.slug }}.html">read more</a>)
   {% if a.headerimage and a.headeralt %}
     </div>
    </div>
   {% endif %}
  {% endfor %}
 </div>
</div>
{% endblock %}
