{% extends "base.html" %}

{% block title %}Email sign up - {% endblock %}

{% block css %}
{% include "css/full.html" %}
{% endblock %}

{% block content %}
<div class="row">
  <div class="col-md-8">
    <h1>Email Newsletter</h1>
    {% include "email-for-book.html" %}
    <h2>Previous issues</h2>
    <p>Past email issues are posted on the 
       <a href="/blog.html">Full Stack Python blog</a> and are also
       listed here:
    </p>
    <ul>
      <li><a href="/blog/devops-python-maintaining-contributing-open-source.html">DevOps, Thank You Maintainers and Contributing to Open Source</a> - November 13, 2017</li>
      <li><a href="/blog/pydev-week-django-2-twilio-voices.html">PyDev of the Week, Django 2.0 and Twilio Voices</a> - October 30, 2017</li>
      <li><a href="/blog/pycon-us-2018-cfp-python-bytes-pelican.html">PyCon US 2018 CFP, Python Bytes and Pelican</a> - October 9, 2017</li>
    </ul>
  </div>
  <div class="col-md-offset-1 col-md-3" id="sidebar">
    {% include "sidebar.html" %}
  </div>
</div>
{% endblock %}
