<?xml version="1.0" encoding="utf-8"?>
<!DOCTYPE html>
<html lang="en">
<head>
  <link href="theme/css/epub-book.css" rel="stylesheet">
</head>
<body>
  {% for page in pages|sort(attribute='sortorder') %}
    {% if page.sortorder[0:2] == "00" %}
      {{ page.content }}
    {% endif %}
  {% endfor %}
  <p style="page-break-after:always;"></p>

  <h1>Table of Contents</h1>
  {% include "toc.html" %}

  {% for page in pages|sort(attribute='sortorder') %}
    {% if not page.sortorder[0:2] == "00" %}
      {{ page.content }}
    {% endif %}
  {% endfor %}
</body>
</html>
