<div class="co1 c3" id="sb">
 <div class="pn">
  <div class="pnh"><h3>{% for p in pages|sort(attribute='sortorder') %}{% if page and p.slug == page.slug %}{{ p.title }}{% endif %}{% endfor %}{% if not page %}Full Stack Python{% endif %}</h3></div>
  <div class="pnb">
   <a href="/">Full Stack Python</a> is an <a href="https://github.com/mattmakai/fullstackpython.com">open book</a> that explains
   concepts in plain language and provides great resources 
   on those topics.
   <hr>
   <a href="/table-of-contents.html">All topics</a> lists
   every Python subject on the site.
  </div>
 </div>
 {% include "rollbar.html" %}
</div>
