{% extends "base.html" %}

{% block meta_header %}
<meta name="description" content="Full Stack Python explains programming concepts in plain language and provides links to the best tutorials for those topics.">
<link rel="canonical" href="https://www.fullstackpython.com/" />
{% endblock %}

{% block css %}<style>{% include "css/base.css" %}{% include "css/panel.css" %}{% include "css/page-article.css" %}{% include "css/responsive.css" %}</style>{% endblock %}

{% block banner %}
{% endblock %}

{% block content %}
<div class="row">
 <div class="c8">
  <h1 style="font-size:26px">Build, Deploy and Operate Python Applications</h1>
  <p>You're knee deep in learning the <a href="http://www.python.org/">Python</a>
  programming language. The syntax is starting to make sense. The first
  few "<em>ahh-ha</em>!" moments hit you as you learning conditional
  statements, <code>for</code> loops and classes while playing around with the open 
  source libraries that make Python such an amazing language.</p>
  <p>Now you want to take your
  <a href="/learning-programming.html">initial Python knowledge</a>
  and make something real, like an application that's available on the web that
  you can show off or sell as a service to other people. That's where Full
  Stack Python comes in. You've come to the right place to learn everything you
  need to <a href="/web-development.html">create</a>, 
  <a href="/deployment.html">deploy</a> and <a href="/devops.html">operate</a> 
  production Python web applications.</p>
  <p>This guide branches out on topic because your learning
  requirements depend on what you're working on. Select one
  of the buttons below or check out the full
  <a href="/table-of-contents.html">table of contents</a>.
  </p>
  <h3>What do you need to learn to create your application?</h3>
  {% include "choices/index.html" %}
 </div>
 {% include "index-sidebar.html" %}
</div>
{% endblock %}
