{% if page and (page.slug == 'development-environments' or  page.slug == 'best-python-videos' or page.slug == 'learning-programming' or page.slug == 'web-development' or page.slug == 'why-use-python' or page.slug == 'javascript' or page.slug == 'cascading-style-sheets' or page.slug == 'python-2-or-3' or page.slug == 'introduction' or page.slug == 'best-python-podcasts') %}
<div style="margin: 0 0 12px;background-color: #22B24C;">
 <div class="cn">
  <p class="banner sns">
   <a href="https://training.talkpython.fm/courses/explore_entrepreneurs/python-for-entrepreneurs-build-and-launch-your-online-business" style="color: #fff">Python for Entrepreneurs: learn Python while building your own business</a>!
  </p>
 </div>
</div>
{% else %}
<div style="margin: 0 0 12px;background-color: #22B24C;">
 <div class="cn">
  <p class="banner sns">
   <a href="https://training.talkpython.fm/courses/explore_ansible/introduction-to-ansible-with-python" style="color: #fff">Learn to deploy and configure servers with Ansible in my latest video course</a>!
  </p>
 </div>
</div>
{% endif %}

{% if false %}
<div style="margin: 0 0 12px;background-color: #22B24C;">
  <div class="cn">
    <p class="banner sns">
      <a href="https://gumroad.com/l/python-deployments" style="color: #fff">Learn to deploy Python web applications with this step-by-step book</a>.
   </p>
  </div>
</div>
{% endif %}
