{% if page and (page.slug == 'development-environments' or  page.slug == 'best-python-videos' or page.slug == 'learning-programming' or page.slug == 'web-development' or page.slug == 'why-use-python' or page.slug == 'javascript' or page.slug == 'cascading-style-sheets' or page.slug == 'python-2-or-3' or page.slug == 'introduction' or page.slug == 'best-python-podcasts') %}
{% else %}
<div style="margin: 0 0 12px;background-color: #22B24C;">
  <div class="container">
    <p class="banner sans-font">
      <a href="https://gumroad.com/l/python-deployments" style="color: #fff">Learn to deploy Python web applications with this step-by-step book</a>.
   </p>
  </div>
</div>
{% endif %}
