<div class="pn" id="mobile-toc">
 <div class="pnh">
  <h3><a href="/table-of-contents.html">Chapters</a></h3>
 </div>
 <div class="lg">
  {% for p in pages|sort(attribute='sortorder') %}
   {% if p %}
    {% if p.slug == page.slug %} <a href="/{{ p.slug }}.html" class="lgi active">&raquo; {% if p.toc %}{{ p.sidebartitle }}{% else %}{{ p.title }}{% endif %}</a>
    {% elif p.toc == "True" %}<a href="/{{ p.slug }}.html" class="lgi {% if page and p.slug == page.slug %}active{% endif %}">{{ p.sidebartitle }}</a>
    {% endif %}
   {% endif %}
  {% endfor %}
  <a href="/table-of-contents.html" class="lgi">...or view the full table of contents.</a>
 </div>
</div>
