{% extends "base.html" %}

{% block meta_header %}{% if page.meta %}
<meta name="description" content="{{ page.meta }}">
{% endif %}{% endblock %}

{% block title %}{{ page.title }} - {% endblock %}

{% block css %}{% include "css.html" %}{% include "css/panel.html" %}{% endblock %}

{% block banner %}{% include "banner.html" %}{% endblock %}

{% block content %}
<div class="row">
 <div class="c8">
  {% if page.slug == 'about-author' %}
   <div class="row">
    <div class="c6">
     <img src="/img/visuals/matt-makai-2017.jpg" width="100%" style="border-radius:6px;padding-top:30px">
    </div>
    <div class="c6">
     {{ page.content }}
    </div>
   </div>
  {% else %}
   {{ page.content }}
  {% endif %}
  {% include "choices/" + page.slug + ".html" %}
  {% include "email-for-book.html" %}
 </div>
 <div class="co1 c3" id="sb">
  {% include "sidebar.html" %}
 </div>
</div>
{% endblock %}
