{% extends "base.html" %}

{% block meta_header %}{% if page.meta %}
<meta name="description" content="{{ page.meta }}">
<meta name="twitter:card" content="summary" />
<meta name="twitter:title" content="{{ page.title }}" />
{% if not page.headerimage or page.headerimage == '' %}
<meta name="twitter:image" content="https://www.fullstackpython.com/img/pages/default.jpg" />
{% else %}
<meta property="twitter:image" content="{{ SITEURL }}{{ page.headerimage }}" />
{% endif %}
<meta name="twitter:site" content="@fullstackpython" />
<meta name="twitter:creator" content="@mattmakai" />
<meta property="og:url" content="{{ SITEURL }}/{{ page.slug }}.html" />
<meta property="og:title" content="{{ page.title }}" />
<meta property="og:description" content="{{ page.meta }}" />
{% if not page.headerimage or page.headerimage == '' %}
<meta property="og:image" content="https://www.fullstackpython.com/img/pages/default.jpg" />
{% else %}
<meta property="og:image" content="{{ SITEURL }}{{ page.headerimage }}" />
{% endif %}
<link rel="canonical" href="https://www.fullstackpython.com/{{ page.slug }}.html" />
{% endif %}{% endblock %}

{% block title %}{{ page.title }} - {% endblock %}

{% block css %}<style>{% include "css/base.css" %}{% include "css/panel.css" %}{% include "css/page-article.css" %}{% include "css/carbon.css" %}{% include "css/responsive.css" %}</style>{% endblock %}

{% block content %}
{% if page.slug != 'about-author' %}
<div class="row">
 <div class="c12">
  <h1 style="font-size: 32px">{{ page.title }}</h1>
 </div>
</div>
{% endif %}
<div class="row">
 <div class="c8">
  {% if page.slug == 'about-author' %}
   <div class="row">
    <div class="c6">
     <img src="/img/visuals/matt-makai-2017.jpg" width="100%" style="border-radius:6px;margin-top:30px">
    </div>
    <div class="c6">
     <h1>{{ page.title }}</h1>
     {{ page.content }}
    </div>
   </div>
  {% else %}
   {% if page.slug == "django-code-examples" %}
    {% include "examples-extensions-descriptions/django.html" %}
    {% include "code-examples/django.html" %}
   {% endif %}
   {% if page.slug == "flask-code-examples" %}
    {% include "examples-extensions-descriptions/flask.html" %}
    {% include "code-examples/flask.html" %}
   {% endif %}
   {% if page.slug == "sqlalchemy-code-examples" %}
    {% include "examples-extensions-descriptions/sqlalchemy.html" %}
    {% include "code-examples/sqlalchemy.html" %}
   {% endif %}
   {% if page.slug == "pandas-code-examples" %}
    {% include "examples-extensions-descriptions/pandas.html" %}
   {% endif %}
   {{ page.content }}
   {% if page.slug == "django" %}
    {% include "code-examples/django.html" %}
   {% endif %}
   {% if page.slug == "flask" %}
    {% include "code-examples/flask.html" %}
   {% endif %}
   {% if page.slug == "sqlalchemy" %}
    {% include "code-examples/sqlalchemy.html" %}
   {% endif %}
  {% endif %}
  {% if page.sortorder[0:2] == "50" %}
  {% else %}
   {% include "choices/" + page.slug + ".html" %}
  {% endif %}
 </div>
 <div class="co1 c3">
  {% include "sidebar.html" %}
 </div>
</div>
{% endblock %}
