<div class="pn">
 <div class="pnh"><h3>Sponsored By</h3></div>
 <div class="pnb">
  <a href="https://rollbar.com/?utm_source=fullstackpython&amp;utm_medium=cpc&amp;utm_campaign=website"><img src="/img/logos/rbw.jpg" alt="Rollbar logo" width="100%" style="padding:12px 0 18px"></a>
  <p class="sps">Fix errors in your Python applications 
   before your users ever see them by
   <a href="https://rollbar.com/?utm_source=fullstackpython&amp;utm_medium=cpc&amp;utm_campaign=website">monitoring your app with Rollbar</a>.
  </p>
 </div>
</div>
