<div class="co1 c2">
 <div class="pn">
  <div class="pnh"><h3>Full Stack Python</h3></div>
  <div class="pnb">
   View the 
   <a href="/table-of-contents.html">table of contents</a> if you're
   looking for a specific Python topic.
   <hr>
   Major updates are tweeted via
   <a href="https://twitter.com/fullstackpython">@fullstackpython</a>.
   <hr>
   <a href="/">Full Stack Python</a> is an open book that explains
   concepts in plain language and provides the most helpful resources 
   on those topics.
  </div>
 </div>
</div>
