{% if page.slug == 'introduction' or page.slug == 'django' or page.slug == 'flask' or page.slug == 'bottle' or page.slug == 'web-development' or page.slug == 'web-frameworks' or page.slug =='morepath' or page.slug == 'python-programming-language' or page.slug == 'comprehensions' or page.slug == 'generators' or page.slug == 'best-python-resources' or page.slug == 'best-python-videos' %}
 {% include "rp-advert.html" %}
{% elif page.slug == 'monitoring' or page.slug == 'devops' or page.slug == 'caching' or page.slug == 'web-analytics' or page.slug == 'servers' or page.slug == 'docker' or page.slug == 'continuous-integration' or page.slug == 'wsgi-servers' or page.slug == 'green-unicorn-gunicorn' or page.slug == 'serverless' or page.slug == 'aws-lambda' or page.slug == 'web-servers' or page.slug == 'apache-http-server' or page.slug == 'nginx' or page.slug == 'caddy' or page.slug == 'debugging' or page.slug == 'testing' or page.slug == 'deployment' or page.slug == 'platform-as-a-service' or page.slug == 'static-content' %}
 {% include "rollbar.html" %}
{% else %}
{% endif %}
