{% if page.title == 'Django' %}
<div class="panel">
  <div class="panel-heading">
    <h3 class="panel-head">Sponsored By</h3>
  </div>
  <div class="panel-body">
    <a href="https://realpython.com/courses/?utm_source=fsp&amp;utm_medium=promo&amp;utm_campaign=django"><img src="/img/logos/realpython.jpg" alt="Real Python logo" width="100%"></a>
    <p style="font-size: .8em;">If you're searching for step-by-step Django 
       tutorials then I highly recommend
       <a href="https://realpython.com/courses/?utm_source=fsp&amp;utm_medium=promo&amp;utm_campaign=django" onclick="trackOutboundLink('https://realpython.com/courses/?utm_source=fsp&amp;utm_medium=promo&amp;utm_campaign=django'); return false;">checking out Real Python</a>.
    </p>
  </div>
</div>

{% elif page.title == 'Flask' %}
<div class="panel">
  <div class="panel-heading">
    <h3 class="panel-head">Sponsored By</h3>
  </div>
  <div class="panel-body">
    <a href="https://realpython.com/courses/?utm_source=fsp&amp;utm_medium=promo&amp;utm_campaign=flask"><img src="/img/logos/realpython.jpg" alt="Real Python logo" width="100%"></a>
    <p style="font-size: .8em;">If you're searching for step-by-step Flask 
       tutorials then I highly recommend
       <a href="https://realpython.com/courses/?utm_source=fsp&amp;utm_medium=promo&amp;utm_campaign=flask" onclick="trackOutboundLink('https://realpython.com/courses/?utm_source=fsp&amp;utm_medium=promo&amp;utm_campaign=flask'); return false;">checking out Real Python</a>.
    </p>
  </div>
</div>

{% elif page.title == 'Best Python Resources' %}
<div class="panel">
  <div class="panel-heading">
    <h3 class="panel-head">Sponsored By</h3>
  </div>
  <div class="panel-body">
    <a href="https://realpython.com/courses/?utm_source=fsp&amp;utm_medium=promo&amp;utm_campaign=bestresources" onclick="trackOutboundLink('https://realpython.com/courses/?utm_source=fsp&amp;utm_medium=promo&amp;utm_campaign=bestresources'); return false;"><img src="/img/logos/realpython.jpg" alt="Real Python logo" width="100%"></a>
    <p style="font-size: .8em;">If you want to learn Python then
       I highly recommend
       <a href="https://realpython.com/courses/?utm_source=fsp&amp;utm_medium=promo&amp;utm_campaign=bestresources" onclick="trackOutboundLink('https://realpython.com/courses/?utm_source=fsp&amp;utm_medium=promo&amp;utm_campaign=bestresources'); return false;">checking out Real Python</a>'s
       courses.
    </p>
  </div>
</div>

{% elif page.title == 'Web Frameworks' %}
<div class="panel">
  <div class="panel-heading">
    <h3 class="panel-head">Sponsored By</h3>
  </div>
  <div class="panel-body">
    <a href="https://realpython.com/courses/?utm_source=fsp&amp;utm_medium=promo&amp;utm_campaign=webframeworks" onclick="trackOutboundLink('https://realpython.com/courses/?utm_source=fsp&amp;utm_medium=promo&amp;utm_campaign=webframeworks'); return false;"><img src="/img/logos/realpython.jpg" alt="Real Python logo" width="100%"></a>
    <p style="font-size: .8em;">If you want to learn Python web development then
       I highly recommend
       <a href="https://realpython.com/courses/?utm_source=fsp&amp;utm_medium=promo&amp;utm_campaign=webframeworks" onclick="trackOutboundLink('https://realpython.com/courses/?utm_source=fsp&amp;utm_medium=promo&amp;utm_campaign=webframeworks'); return false;">checking out Real Python</a>'s
       courses.
    </p>
  </div>
</div>

{% elif page.title == 'Bottle' %}
<div class="panel">
  <div class="panel-heading">
    <h3 class="panel-head">Sponsored By</h3>
  </div>
  <div class="panel-body">
    <a href="https://realpython.com/courses/?utm_source=fsp&amp;utm_medium=promo&amp;utm_campaign=bottle"><img src="/img/logos/realpython.jpg" alt="Real Python logo" width="100%"></a>
    <p style="font-size: .8em;">If you're searching for step-by-step web 
       development tutorials then I highly recommend
       <a href="https://realpython.com/courses/?utm_source=fsp&amp;utm_medium=promo&amp;utm_campaign=bottle" onclick="trackOutboundLink('https://realpython.com/courses/?utm_source=fsp&amp;utm_medium=promo&amp;utm_campaign=bottle'); return false;">checking out Real Python</a>.
    </p>
  </div>
</div>

{% elif page.title == 'Web Development' %}
<div class="panel">
  <div class="panel-heading">
    <h3 class="panel-head">Sponsored By</h3>
  </div>
  <div class="panel-body">
    <a href="https://realpython.com/courses/?utm_source=fsp&amp;utm_medium=promo&amp;utm_campaign=webdevelopment"><img src="/img/logos/realpython.jpg" alt="Real Python logo" width="100%"></a>
    <p style="font-size: .8em;">If you're searching for step-by-step web 
       development tutorials then I highly recommend
       <a href="https://realpython.com/courses/?utm_source=fsp&amp;utm_medium=promo&amp;utm_campaign=webdevelopment" onclick="trackOutboundLink('https://realpython.com/courses/?utm_source=fsp&amp;utm_medium=promo&amp;utm_campaign=webdevelopment'); return false;">checking out Real Python</a>.
    </p>
  </div>
</div>

{% elif page.title == 'JavaScript' %}
<div class="panel">
  <div class="panel-heading">
    <h3 class="panel-head">Sponsored By</h3>
  </div>
  <div class="panel-body">
    <a href="https://realpython.com/courses/?utm_source=fsp&amp;utm_medium=promo&amp;utm_campaign=javascript"><img src="/img/logos/realpython.jpg" alt="Real Python logo" width="100%"></a>
    <p style="font-size: .8em;">If you're searching for step-by-step web 
       development tutorials then I highly recommend
       <a href="https://realpython.com/courses/?utm_source=fsp&amp;utm_medium=promo&amp;utm_campaign=javascript" onclick="trackOutboundLink('https://realpython.com/courses/?utm_source=fsp&amp;utm_medium=promo&amp;utm_campaign=javascript'); return false;">checking out Real Python</a>.
    </p>
  </div>
</div>

{% elif page.title == 'Why Use Python?' %}
<div class="panel">
  <div class="panel-heading">
    <h3 class="panel-head">Sponsored By</h3>
  </div>
  <div class="panel-body">
    <a href="https://realpython.com/courses/?utm_source=fsp&amp;utm_medium=promo&amp;utm_campaign=whyusepython"><img src="/img/logos/realpython.jpg" alt="Real Python logo" width="100%"></a>
    <p style="font-size: .8em;">If you're searching for step-by-step web 
       development tutorials then I highly recommend
       <a href="https://realpython.com/courses/?utm_source=fsp&amp;utm_medium=promo&amp;utm_campaign=whyusepython" onclick="trackOutboundLink('https://realpython.com/courses/?utm_source=fsp&amp;utm_medium=promo&amp;utm_campaign=whyusepython'); return false;">checking out Real Python</a>.
    </p>
  </div>
</div>

{% elif page.title == 'Vim' %}
<div class="panel">
  <div class="panel-heading">
    <h3 class="panel-head">Sponsored By</h3>
  </div>
  <div class="panel-body">
    <a href="https://realpython.com/blog/python/vim-and-python-a-match-made-in-heaven/?utm_source=fsp&amp;utm_medium=promo&amp;utm_campaign=vim"><img src="/img/logos/realpython.jpg" alt="Real Python logo" width="100%"></a>
    <p style="font-size: .8em;">If you're searching for a step-by-step Vim 
       tutorials then check out 
       <a href="https://realpython.com/blog/python/vim-and-python-a-match-made-in-heaven/?utm_source=fsp&amp;utm_medium=promo&amp;utm_campaign=vim" onclick="trackOutboundLink('https://realpython.com/blog/python/vim-and-python-a-match-made-in-heaven/?utm_source=fsp&amp;utm_medium=promo&amp;utm_campaign=vim'); return false;">Real Python's free Vim tutorial</a>.
    </p>
  </div>
</div>

{% elif page.title == 'Introduction' %}
  {% include "rp-advert.html" %}
{% elif page.slug == 'monitoring' %}
  {% include "rollbar.html" %}
{% else %}
  {% include "fsp-guide-advert.html" %}
{% endif %}
