<div class="sns">
<a href="/table-of-contents.html">All topics</a> <span class="bk">|</span>
<a href="/blog.html">Blog</a> <span class="bk">|</span>
<!--<a href="/email.html">Newsletter</a> <span class="bk">|</span>-->
<a href="https://www.deploypython.com/full-stack-python.html">Supporter's Edition</a> <span class="bk">|</span>
<a href="https://twitter.com/fullstackpython">@fullstackpython</a> <span class="bk">|</span>
<a href="https://www.facebook.com/fullstackpython">Facebook</a> <span class="bk">|</span>

<a href="/change-log.html">What's new?</a> 
</div>
