{% extends "base.html" %}

{% block meta_header %}
<meta name="description" content="Full Stack Python is an open book on Python web development, deployments and DevOps.">
{% endblock %}

{% block title %}Table of Contents for {% endblock %}

{% block css %}<style>{% include "css/base.css" %}{% include "css/toc.css" %}{% include "css/responsive.css" %}</style>{% endblock %}

{% block banner %}
{% endblock %}

{% block content %}
<div class="row">
<div class="c12">
<h1>Table of Contents</h1>
  <div class="row">
   <div class="c4 toc">
    <h3>1. <a href="https://www.fullstackpython.com/">Introduction</a></h3>
{% include "book-chapters.html" %}
<br>

<div class="row">
<div class="c9">
<h2><a href="/blog.html">Blog Post Tutorials</a></h2>
{% for a in articles %}<h4 class="bp"><a href="/blog/{{ a.slug }}.html">{{ a.title }}</a></h4>{% endfor %}
</div>
<div class="c3">
<h2><a href="https://www.deploypython.com/">Books &amp; Videos</a></h2>
<div class="sns desc">Each of these videos and books was recorded or written by me, <a href="/about-author.html">Matt Makai</a>.</div>
<h4 class="bp"><a href="https://training.talkpython.fm/courses/explore_ansible/introduction-to-ansible-with-python">Introduction to Ansible</a></h4>
<h4 class="bp"><a href="https://training.talkpython.fm/courses/explore_entrepreneurs/python-for-entrepreneurs-build-and-launch-your-online-business">Python for Entrepreneurs</a></h4>
<h4 class="bp"><a href="https://www.deploypython.com/full-stack-python.html">Full Stack Python Supporter's Edition</a></h4>
<h4 class="bp"><a href="https://www.deploypython.com/deploying-flask-web-apps.html">Deploying Flask Web Apps</a></h4>
<hr>
<div class="sns desc">These books and courses were created by fellow 
Python developers. I have used each one myself and recommend 
them all if you are looking to buy high quality resources.</div>
<h4 class="bp"><a href="https://testdriven.io/courses/real-time-app-with-django-channels-and-angular/?utm_source=fsp">Developing a Real-Time Taxi App with Django Channels and Angular</a> by <a href="https://testdriven.io/authors/herman/">Michael Herman</a></h4>
<h4 class="bp"><a href="https://testdriven.io/courses/tdd-flask/?utm_source=fsp">Test-Driven Development with Python, Flask, and Docker</a> by <a href="https://testdriven.io/authors/herman/">Michael Herman</a></h4>
<h4 class="bp"><a href="https://testdriven.io/courses/aws-flask-react/?utm_source=fsp">Deploying a Flask and React Microservice to AWS ECS</a> by <a href="https://testdriven.io/authors/herman/">Michael Herman</a></h4>
</div>
</div>

<h2>Example Python Projects and Code</h2>
<div class="row">
<div class="c12">
<h3 style="margin-top:24px;line-height:28px"><a href="/django.html">Django</a>:
<a href="/django-extensions-plug-ins-related-libraries.html">Extensions, Plug-ins and Related Libraries</a> &amp;
<a href="/django-code-examples.html">Example Projects and Code</a>
</h3>
<h4 class="bp"><a href="/django-apps-config-appconfig-examples.html">django.apps.config AppConfig</a></h4>
<h4 class="bp"><a href="/django-conf-settings-examples.html">django.conf.settings</a></h4>
<h4 class="bp"><a href="/django-conf-urls-url-examples.html">django.conf.urls.url</a></h4>
<h4 class="bp"><a href="/django-contrib-admin-examples.html">django.contrib.admin</a></h4>
<h4 class="bp"><a href="/django-contrib-admin-filters-simplelistfilter-examples.html">django.contrib.admin.filters SimpleListFilter</a></h4>
<h4 class="bp"><a href="/django-contrib-admin-sites-register-examples.html">django.contrib.admin.sites register</a></h4>
<h4 class="bp"><a href="/django-contrib-auth-get-user-model-examples.html">django.contrib.auth get_user_model</a></h4>
<h4 class="bp"><a href="/django-contrib-auth-decorators-login-required-examples.html">django.contrib.auth.decorators login_required</a></h4>
<h4 class="bp"><a href="/django-contrib-auth-hashers-make-password-examples.html">django.contrib.auth.hashers make_password</a></h4>
<h4 class="bp"><a href="/django-core-mail-send-mail-examples.html">django.core.mail.send_mail</a></h4>
<h4 class="bp"><a href="/django-core-mail-messages-emailmessage-examples.html">django.core.mail.messages EmailMessage</a></h4>
<h4 class="bp"><a href="/django-core-management-base-basecommand-examples.html">django.core.management.base BaseCommand</a></h4>
<h4 class="bp"><a href="/django-db-operationalerror-examples.html">django.db OperationalError</a></h4>
<h4 class="bp">django.db.models 
 <a href="/django-db-models-autofield-examples.html">AutoField</a>, 
 <a href="/django-db-models-booleanfield-examples.html">BooleanField</a>,
 <a href="/django-db-models-charfield-examples.html">CharField</a>,
 <a href="/django-db-models-datefield-examples.html">DateField</a>,
 <a href="/django-db-models-datetimefield-examples.html">DateTimeField</a>,
 <a href="/django-db-models-filefield-examples.html">FileField</a>,
 <a href="/django-db-models-foreignkey-examples.html">ForeignKey</a>,
 <a href="/django-db-models-genericipaddressfield-examples.html">GenericIPAddressField</a>,
 <a href="/django-db-models-imagefield-examples.html">ImageField</a>,
 <a href="/django-db-models-integerfield-examples.html">IntegerField</a>,
 <a href="/django-db-models-model-examples.html">Model</a>,
 <a href="/django-db-models-positiveintegerfield-examples.html">PositiveIntegerField</a>,
 <a href="/django-db-models-positivesmallintegerfield-examples.html">PositiveSmallIntegerField</a>,
 <a href="/django-db-models-signal-examples.html">signal</a>,
 <a href="/django-db-models-slugfield-examples.html">SlugField</a>,
 <a href="/django-db-models-textfield-examples.html">TextField</a>
</h4>
<h4 class="bp"><a href="/django-dispatch-dispatcher-signal-examples.html">django.dispatch.dispatcher Signal</a></h4>
<h4 class="bp"><a href="/django-forms-examples.html">django.forms</a>
 <a href="/django-forms-booleanfield-examples.html">BooleanField</a>, 
 <a href="/django-forms-charfield-examples.html">CharField</a>,
 <a href="/django-forms-choicefield-examples.html">ChoiceField</a>,
 <span class="sn">TypedChoiceField</span>,
 <span class="sn">DateField</span>,
 <span class="sn">DateTimeField</span>,
 <span class="sn">DecimalField</span>,
 <span class="sn">DurationField</span>,
 <a href="/django-forms-emailfield-examples.html">EmailField</a>,
 <a href="/django-forms-integerfield-examples.html">IntegerField</a>
</h4>
<h4 class="bp">django.http
 <a href="/django-http-httpresponse-examples.html">HttpResponse</a>,
 <a href="/django-http-httpresponsebadrequest-examples.html">HttpResponseBadRequest</a>,
 <a href="/django-http-httpresponseforbidden-examples.html">HttpResponseForbidden</a>,
 <a href="/django-http-httpresponsenotmodified-examples.html">HttpResponseNotModified</a>,
 <a href="/django-http-http404-examples.html">Http404</a>,
 <a href="/django-http-httpresponsepermanentredirect-examples.html">HttpResponsePermanentRedirect</a>,
 <a href="/django-http-httpresponseredirect-examples.html">HttpResponseRedirect</a>
</h4>
<h4 class="bp"><a href="/django-urls-exceptions-noreversematch-examples.html">django.urls.exceptions NoReverseMatch</a></h4>
<h4 class="bp"><a href="/django-urls-path-examples.html">django.urls.path</a></h4>
<h4 class="bp"><a href="/django-urls-reverse-lazy-examples.html">django.urls reverse_lazy</a></h4>
<h4 class="bp"><a href="/django-utils-html-format-html-examples.html">django.utils.html format_html</a></h4>
<h4 class="bp">django.template.response
 <a href="/django-template-response-simpletemplateresponse-examples.html">SimpleTemplateResponse</a>,
 <a href="/django-template-response-templateresponse-examples.html">TemplateResponse</a>
</h4>
<h4 class="bp"><a href="/django-utils-timezone-examples.html">django.utils.timezone</a></h4>
</div>
</div>

<div class="row">
<div class="c12">
<h3 style="margin-top:24px;line-height:28px"><a href="/flask.html">Flask</a>:
Extensions, Plug-ins and Related Libraries &amp;
<a href="/flask-core-extensions-code-examples.html">Example Projects and Code</a>
</h3>
<h4 class="bp"><a href="/flask-redirect-examples.html">flask redirect</a></h4>
<h4 class="bp"><a href="/flask-request-examples.html">flask request</a></h4>
<h4 class="bp"><a href="/flask-sqlalchemy-model-examples.html">flask_sqlalchemy.SQLAlchemy.Model</a></h4>
</div>
</div>

<div class="row">
<div class="c12">
<h3 style="margin-top:24px;line-height:28px"><a href="/sqlalchemy.html">SQLAlchemy</a>:
<a href="/sqlalchemy-extensions-plug-ins-related-libraries.html">Extensions, Plug-ins and Related Libraries</a> &amp;
<a href="/sqlalchemy-projects-code-examples.html">Example Projects and Code</a>
</h3>
<h4 class="bp"><a href="/sqlalchemy-model-examples.html">Models</a></h4>
</div>
</div>
{% endblock %}

{% block lower_banner %}
{% endblock %}
