<a href="/devops.html" class="list-group-item smaller-item">DevOps</a>
<a href="/source-control.html" class="list-group-item smaller-item">Source Control</a>
<a href="/git.html" class="list-group-item smaller-item">Git</a>
<a href="/development-environments.html" class="list-group-item smaller-item">Development Environments</a>
<a href="/operating-systems.html" class="list-group-item smaller-item">Operating Systems</a>
<a href="/configuration-management.html" class="list-group-item smaller-item">Configuration Management</a>

