<a href="/blog/devops-continuous-delivery-you.html" class="list-group-item smaller-item">DevOps, Continuous Delivery... and You</a>
<a href="/devops.html" class="list-group-item smaller-item">DevOps</a>
<a href="https://github.com/jhund/filterrific/issues/147#issuecomment-341867147" class="list-group-item smaller-item">Thank you {% include "blog/external-link.html" %}</a>
<a href="/python-community.html" class="list-group-item smaller-item">Python Community</a>
<a href="https://talkpython.fm/episodes/show/132/contributing-to-open-source" class="list-group-item smaller-item">Talk Python to Me Episode #132: Contributing to Open Source {% include "blog/external-link.html" %}</a>
<a href="/web-frameworks.html" class="list-group-item smaller-item">Web frameworks</a>
<a href="/django.html" class="list-group-item smaller-item">Django</a>
