<a href="/pelican.html" class="lgi">Pelican</a>
<a href="/static-site-generator.html" class="lgi">Static Site Generators</a>
<a href="/application-programming-interfaces.html" class="lgi">APIs</a>
<a href="/static-content.html" class="lgi">Static Content</a>
<a href="/deployment.html" class="lgi">Deployment</a>
<a href="https://www.mapbox.com/api-documentation/" class="lgi">Mapbox documentation {% include "blog/external-link.html" %}</a>
<a href="https://www.mapbox.com/" class="lgi">Mapbox {% include "blog/external-link.html" %}</a>
<a href="https://www.mapbox.com/maps" class="lgi">Mapbox Maps {% include "blog/external-link.html" %}</a>
