<a href="/source-control.html" class="list-group-item smaller-item">Source control</a>
<a href="/git.html" class="list-group-item smaller-item">Git</a>
<a href="/github.html" class="list-group-item smaller-item">GitHub</a>
<a href="http://gitpython.readthedocs.io/en/stable/index.html" class="list-group-item smaller-item">Official GitPython Docs {% include "blog/external-link.html" %}</a>
<a href="https://github.com/fullstackpython/blog-code-examples/tree/master/first-steps-gitpython" class="list-group-item smaller-item">Code for this post {% include "blog/external-link.html" %}</a>
