<a href="/source-control.html" class="lgi">Source control</a>
<a href="/git.html" class="lgi">Git</a>
<a href="https://github.com/" class="lgi">GitHub {% include "blog/external-link.html" %}</a>
<a href="http://gitpython.readthedocs.io/en/stable/index.html" class="lgi">Official GitPython Docs {% include "blog/external-link.html" %}</a>
<a href="https://github.com/fullstackpython/blog-code-examples/tree/master/first-steps-gitpython" class="lgi">Code for this post {% include "blog/external-link.html" %}</a>
