<a href="/static-site-generator.html" class="list-group-item smaller-item">Static Site Generators</a>
<a href="/pelican.html" class="list-group-item smaller-item">Pelican</a>
<a href="/lektor.html" class="list-group-item smaller-item">Lektor</a>
<a href="/deployment.html" class="list-group-item smaller-item">Deployment</a>
<a href="http://docs.getpelican.com/en/stable/" class="list-group-item smaller-item">Official Pelican Docs {% include "blog/external-link.html" %}</a>
<a href="https://github.com/fullstackpython/blog-code-examples/tree/master/generating-static-websites-pelican-jinja2-markdown" class="list-group-item smaller-item">Code for this post {% include "blog/external-link.html" %}</a>
