<a href="/static-site-generator.html" class="lgi">Static Site Generators</a>
<a href="/pelican.html" class="lgi">Pelican</a>
<a href="/lektor.html" class="lgi">Lektor</a>
<a href="/deployment.html" class="lgi">Deployment</a>
<a href="http://docs.getpelican.com/en/stable/" class="lgi">Official Pelican Docs {% include "blog/external-link.html" %}</a>
<a href="https://github.com/fullstackpython/blog-code-examples/tree/master/generating-static-websites-pelican-jinja2-markdown" class="lgi">Code for this post {% include "blog/external-link.html" %}</a>
