<a href="/blog/first-steps-gitpython.html" class="list-group-item smaller-item">First Steps with GitPython</a>
<a href="https://gitpython.readthedocs.io/en/stable/" class="list-group-item smaller-item">GitPython official docs {% include "blog/external-link.html" %}</a>
<a href="https://github.com/gitpython-developers/GitPython" class="list-group-item smaller-item">GitPython source code {% include "blog/external-link.html" %}</a>
<a href="/git.html" class="list-group-item smaller-item">Git</a>
<a href="/source-control.html" class="list-group-item smaller-item">Source control</a>
