<a href="/learning-programming.html" class="lgi">Learning Programming</a>
<a href="/serverless.html" class="lgi">Serverless Architectures</a>
<a href="/aws-lambda.html" class="lgi">AWS Lambda</a>
<a href="/monitoring.html" class="lgi">Monitoring</a>
<a href="/deployment.html" class="lgi">Deployment</a>
<a href="/rollbar.html" class="lgi">Rollbar</a>
<a href="https://rollbar.com" class="lgi">Rollbar homepage {% include "blog/external-link.html" %}</a>
<a href="https://docs.rollbar.com/docs/python/#aws-lambda" class="lgi">Rollbar AWS Lambda docs {% include "blog/external-link.html" %}</a>
