<a href="/python-community.html" class="lgi">Python Community</a>
<a href="https://us.pycon.org/2018/speaking/talks/" class="lgi">PyCon US 2018 CFP {% include "blog/external-link.html" %}</a>
<a href="/best-python-podcasts.html" class="lgi">Best Python Podcasts</a>
<a href="https://pythonbytes.fm/" class="lgi">Python Bytes podcast {% include "blog/external-link.html" %}</a>
<a href="/static-site-generator.html" class="lgi">Static Site Generators</a>
<a href="/pelican.html" class="lgi">Pelican</a>
<a href="http://docs.getpelican.com/en/stable/" class="lgi">Official Pelican Docs {% include "blog/external-link.html" %}</a>
