<a href="/python-community.html" class="list-group-item smaller-item">Python Community</a>
<a href="https://us.pycon.org/2018/speaking/talks/" class="list-group-item smaller-item">PyCon US 2018 CFP {% include "blog/external-link.html" %}</a>
<a href="/best-python-podcasts.html" class="list-group-item smaller-item">Best Python Podcasts</a>
<a href="https://pythonbytes.fm/" class="list-group-item smaller-item">Python Bytes podcast {% include "blog/external-link.html" %}</a>
<a href="/static-site-generator.html" class="list-group-item smaller-item">Static Site Generators</a>
<a href="/pelican.html" class="list-group-item smaller-item">Pelican</a>
<a href="http://docs.getpelican.com/en/stable/" class="list-group-item smaller-item">Official Pelican Docs {% include "blog/external-link.html" %}</a>
