<a href="https://www.blog.pythonlibrary.org/" class="lgi">PyDev of the Week Blog {% include "blog/external-link.html" %}</a>
<a href="/python-community.html" class="lgi">Python Community</a>
<a href="/web-frameworks.html" class="lgi">Web frameworks</a>
<a href="/django.html" class="lgi">Django</a>
<a href="https://docs.djangoproject.com/en/dev/" class="lgi">Django documentation {% include "blog/external-link.html" %}</a>
<a href="http://www.twiliovoices.com/" class="lgi">Twilio Voices {% include "blog/external-link.html" %}</a>
<a href="https://www.twilio.com/blog/2017/06/hacked-my-universitys-registration-system-python-twilio.html" class="lgi">How I Hacked My University’s Registration System with Python and Twilio {% include "blog/external-link.html" %}</a>
<a href="https://www.twilio.com/blog/2017/08/geospatial-analysis-python-geojson-geopandas.html" class="lgi">Getting Started on Geospatial Analysis with Python, GeoJSON and GeoPandas {% include "blog/external-link.html" %}</a>
<a href="https://www.twilio.com/blog/2017/04/wedding-at-scale-how-i-used-twilio-python-and-google-to-automate-my-wedding.html" class="lgi">Wedding at Scale: How I Used Twilio, Python and Google to Automate My Wedding {% include "blog/external-link.html" %}</a>
<a href="https://www.twilio.com/blog/2017/09/never-forget-friends-birthday-python-flask-twilio.html" class="lgi">Never Forget A Friend’s Birthday with Python, Flask and Twilio {% include "blog/external-link.html" %}</a>
