<a href="/python-community.html" class="list-group-item smaller-item">Python Community</a>
<a href="https://www.blog.pythonlibrary.org/" class="lis/t-group-item smaller-item">PyDev of the Week Blog {% include "blog/external-link.html" %}</a>
<a href="/django.html" class="list-group-item smaller-item">Django</a>
<a href="https://docs.djangoproject.com/en/dev/" class="list-group-item smaller-item">Django documentation {% include "blog/external-link.html" %}</a>
<a href="/ansible.html" class="list-group-item smaller-item">Ansible</a>
<a href="http://docs.ansible.com/ansible/latest/index.html" class="list-group-item smaller-item">Ansible documentation {% include "blog/external-link.html" %}</a>
