<a href="/operating-systems.html" class="list-group-item smaller-item">Operating Systems</a>
<a href="/ubuntu.html" class="list-group-item smaller-item">Ubuntu</a>
<a href="/wsgi-servers.html" class="list-group-item smaller-item">WSGI Servers</a>
<a href="/green-unicorn-gunicorn.html" class="list-group-item smaller-item">Green Unicorn (Gunicorn)</a>
<a href="/web-frameworks.html" class="list-group-item smaller-item">Web Frameworks</a>
<a href="/django.html" class="list-group-item smaller-item">Django</a>
