<a href="/bokeh.html" class="lgi">Bokeh</a>
<a href="/web-frameworks.html" class="lgi">Web Frameworks</a>
<a href="/bottle.html" class="lgi">Bottle</a>
<a href="/deployment.html" class="lgi">Deployment</a>
<a href="/ubuntu.html" class="lgi">Ubuntu</a>
<a href="/wsgi-servers.html" class="lgi">WSGI Servers</a>
<a href="/green-unicorn-gunicorn.html" class="lgi">Green Unicorn (Gunicorn)</a>
<a href="http://bokeh.pydata.org/en/latest/" class="lgi">Official Bokeh Docs {% include "blog/external-link.html" %}</a>
<a href="https://github.com/fullstackpython/blog-code-examples/tree/master/bar-charts-bokeh-bottle-python-3" class="lgi">Code for this post {% include "blog/external-link.html" %}</a>
