@import "bootstrap.less";
@import "bootswatch-variables.less";
@import "bootswatch.less";

.underline {text-decoration: underline;}
h1, h2, h3, h4, h5, h6 {color: #222;}
.head-title {margin: 25px 0 15px 0;}
.fsp-side-nav-ul li.active {background: green;}
.tech-section {margin-bottom: 25px;}
p {color: #333;}
.footer {margin-bottom: 15px;}
