@import "bootstrap.less";
@import "bootswatch-variables.less";
@import "bootswatch.less";

.underline {text-decoration: underline;}
h1, h2, h3, h4, h5, h6 {color: #222;}
.logo-header-section {margin: 35px 0 30px 0;}
.logo-title {font-size: 4em; color: #222; font-family: @sansFontFamily;
             font-weight: bold; line-height: 30px; margin-left: 5px;}
.logo-image {vertical-align: top;}
h2 {font-size: 1.8em; margin: 10px 0 5px 0;}
h3 {font-size: 1.25em; margin: 5px 0 0 0;}
.fsp-side-nav-ul li.active {background: @gray;}
.tech-section {margin-bottom: 30px;}
p {color: #333;}
.footer {margin-bottom: 15px;}
