{% extends "base.html" %}

{% block meta_header %}{% if article and article.meta %}
    <meta name="description" content="{{ article.meta }}">
{% endif %}{% endblock %}

{% block title %}{% if article %}{{ article.title }} - {% endif %}{% endblock %}

{% block content %}
<div class="row">
    <div class="col-md-12">
      {% if article %}
          <h1 class="blog-h1">{{ article.title }}</h1>
          <div class="post-byline">
            Posted by <a href="/about-author.html">Matt Makai</a> on 
            {{ article.date.strftime('%B %d, %Y') }}.
            {% if article.modified != article.date %}Last updated
            {{ article.modified.strftime('%B %d, %Y') }}.{% endif %}
          </div>
          {{ article.content }}
          <hr>
          {% include "email-for-book.html" %}
      {% endif %}
    </div>
</div>
{% endblock %}

{% block lower_banner %}
    {% include "banner.html" %}
{% endblock %}
