<div style="margin: 0 0 12px;background-color: #22B24C;">
  <div class="container">
    <p class="banner sans-font">
      {% if page %}
        {% if page.slug == 'best-python-resources' or  page.slug == 'best-python-videos' or page.slug == 'learning-programming' or page.slug == 'web-development' or page.slug == 'why-use-python' %}
        <a href="https://training.talkpython.fm/courses/explore_entrepreneurs/python-for-entrepreneurs-build-and-launch-your-online-business" style="color: #fff">Python for Entrepreneurs: learn Python while building your own business</a>!
        {% endif %}
      {% else %}
      <a href="https://www.gumroad.com/l/python-deployments" style="color: #fff">Learning web development? Check out the newly-updated Guide to Deployments book</a>!
      {% endif %}
    </p>
  </div>
</div>
