{% if not page.choice4url == '' %}
    {% set colwidth = 3 %}
{% else %}
    {% set colwidth = 4 %}
{% endif %}
<div class="row">
    <div class="col-md-{{ colwidth }}">
        <div class="well select-next">
            <a href="{{ page.choice1url }}" class="btn btn-success btn-full"><i class="fa {{ page.choice1icon }} fa-2x"></i></a>
            <p class="under-btn">
                {{ page.choice1text }}
            </p>
        </div>
    </div>
    <div class="col-md-{{ colwidth }}">
        <div class="well select-next">
            <a href="{{ page.choice2url }}" class="btn btn-success btn-full"><i class="fa {{ page.choice2icon }} fa-2x"></i></a>
            </a>
            <p class="under-btn">
                {{ page.choice2text }}
            </p>
        </div>
    </div>
    <div class="col-md-{{ colwidth }}">
        <div class="well select-next">
            <a href="{{ page.choice3url }}" class="btn btn-success btn-full"><i class="fa {{ page.choice3icon }} fa-2x"></i></a>
            <p class="under-btn">
                {{ page.choice3text }}
            </p>
        </div>
    </div>
    {% if colwidth == 3 %}
    <div class="col-md-3">
        <div class="well select-next">
            <a href="{{ page.choice4url }}" class="btn btn-success btn-full"><i class="fa {{ page.choice4icon }} fa-2x"></i></a>
            <p class="under-btn">
                {{ page.choice4text }}
            </p>
        </div>
    </div>
    {% endif %}
</div>
