{% extends "base.html" %}

{% block title %}Email sign up - {% endblock %}

{% block content %}
<div class="row">
    <div class="col-md-8">
      <h1>Email Newsletter</h1>
      {% include "email-for-book.html" %}
      <h2>Previous issues</h2>
      <p>Past email issues 
         <a href="https://fullstackpython.ongoodbits.com/">can be viewed in the archive.</a>
      </p>
      <ul>
        <li><a href="https://fullstackpython.ongoodbits.com/2016/08/24/less-than-24-hours-to-back-python-for-entrepreneurs">Less than 24 hours to back Python for Entrepreneurs</a> - Aug 24, 2016</li>
        <li><a href="https://fullstackpython.ongoodbits.com/2016/07/26/python-for-entrepreneurs-kickstarter-launch">Python for Entrepreneurs Launch!</a> - Jul 26, 2016</li>
        <li><a href="https://fullstackpython.ongoodbits.com/2016/03/21/21-new-python-django-flask-tutorials">21 new Python+Django & Flask tutorials</a> - Mar 21, 2016</li>
    </div>
    {% include "sidebar.html" %}
</div>
{% endblock %}
