{% extends "base.html" %}

{% block body_attributes %} data-spy="scroll" data-target="#fsp-side-nav" {% endblock %}

{% block content %}
    <div class="row">
        <div class="span3" id="fsp-side-nav">
            <ul class="nav nav-list fsp-side-nav-ul affix"> 
                {% for page in pages %}
                    <li><a href="#{{ page.slug }}">{{ page.title }}</a></li>
                {% endfor %}
            </ul>
        </div>
        <div class="span9">
            {% for page in pages %}
                <section id="{{ page.slug }}">
                    <h2>{{ page.title }}</h2>
                    {{ page.content }}
                </section>
            {% endfor %}
        </div>
    </div>
{% endblock %}
