{% extends "base.html" %}

{% block meta_header %}{% if page.meta %}
    <meta name="description" content="{{ page.meta }}">
{% endif %}{% endblock %}

{% block title %}{{ page.title }} - {% endblock %}

{% block content %}
<div class="row">
    <div class="col-md-8">
          {{ page.content }}
          {% if page.choice1url %}
            {% include "chapter-choices.html" %}
          {% endif %}
      {% include "email-for-book.html" %}
    </div>
    {% include "sidebar.html" %}
</div>
{% endblock %}

{% block js %}
{% if page.title == 'Django' %}
{% include "crazyegg.html" %}
{% endif %}
{% include "outbound.html" %}
{% endblock %}
