{% extends "base.html" %}

{% block meta_header %}{% if page.meta %}
  <meta name="description" content="{{ page.meta }}">
{% endif %}{% endblock %}

{% block title %}{{ page.title }} - {% endblock %}

{% block banner %}
  {% if not page.slug == "sqlalchemy" %}
    {% include "banner.html" %}
  {% endif %}
{% endblock %}

{% block content %}
<div class="row">
    <div class="col-md-8">
        {% if page.slug == 'about-author' %}
            <div class="row">
                <div class="col-md-6">
                  <img src="/source/theme/static/img/matt-makai-2016.jpg" class="technical-diagram" width="100%" style="border-radius:6px;padding-top:30px">
                </div>
                <div class="col-md-6">
                  {{ page.content }}
                </div>
            </div>
        {% else %}
          {{ page.content }}
        {% endif %}
          {% include "choices/" + page.slug + ".html" %}
      {% include "email-for-book.html" %}
    </div>
    {% include "sidebar.html" %}
</div>
{% endblock %}

{% block js %}
{% if page.slug == 'flask' %}
    <div style="display: none;"><img src="https://www.linkedin.com/in/matthewmakai?authType=name&authToken=thoI" /></div>
{% endif %}
{% endblock %}
