<div class="panel">
  <div class="panel-heading">
    <h3 class="panel-head">Sponsored By</h3>
  </div>
  <div class="panel-body">
    <a href="https://realpython.com/?utm_source=fsp&amp;utm_medium=promo&amp;utm_campaign=frontpage"><img src="/img/sponsored/realpython.jpg" alt="Real Python logo" width="100%"></a>
    <p style="font-size: .8em;">If you're searching for step-by-step Python 
       web development tutorials then I highly recommend
       <a href="https://realpython.com/?utm_source=fsp&amp;utm_medium=promo&amp;utm_campaign=frontpage" onclick="trackOutboundLink('https://realpython.com/?utm_source=fsp&amp;utm_medium=promo&amp;utm_campaign=frontpage'); return false;">checking out Real Python</a>.
    </p>
  </div>
</div>
