<div class="col-md-offset-1 col-md-3" id="sidebar">
  {% if page %}
  <div class="panel panel-success">
      <div class="panel-heading">
        <h3 class="panel-head"><a href="/table-of-contents.html" style="color: #fff;">Table of Contents</a></h3>
      </div>
      <div class="list-group">
          {% for p in pages|sort(attribute='sort-order') %}
              <a href="/{{ p.slug }}.html" class="list-group-item smaller-item {% if page and p.slug == page.slug %}active{% endif %}">{{ p.title }}</a>
          {% endfor %}
      </div>
  </div>
  {% endif %}
  <div class="panel panel-success">
      <div class="panel-heading"><h3 class="panel-head">{% for p in pages|sort(attribute='sort-order') %}{% if page and p.slug == page.slug %}{{ p.title }}{% endif %}{% endfor %}{% if not page %}Full Stack Python{% endif %}</h3></div>
      <div class="panel-body">
          <a href="/">Full Stack Python</a> is an open book that explains
          each Python web application stack layer and provides the
          best web resources for those topics.
          <hr/>
          {% if not page %}
          Check out the 
          <a href="/table-of-contents.html">table of contents</a> if you're
          searching for a particular subject.
          {% else %}
          There's a work-in-progress 
          <a href="/full-stack-python-map.pdf">subjects map (.pdf)</a> 
          that visually lays out each chapter in addition to the table of
          contents found below.
          {% endif %}
          <hr/>
          Need more detailed tutorials and walkthroughs than you see here?
          <a href="/email.html">Sign up for an email alert when that content is created.</a>
          <hr/>
          <a href="http://twitter.com/mattmakai">Matt Makai</a> built
          this site with greatly appreciated assistance from community 
          <a href="https://github.com/makaimc/fullstackpython.github.com/pulls">pull requests</a>.
      </div>
  </div>
</div>
