<div class="col-md-offset-1 col-md-3" id="sidebar">
  <div class="panel panel-success">
      <div class="panel-heading">
        <h3 class="panel-head">Full Stack Python</h3>
      </div>
      <div class="panel-body">
          View the 
          <a href="/table-of-contents.html">table of contents</a> if you're
          looking for a specific Python topic.
          <hr/>
          Major updates are tweeted via
          <a href="https://twitter.com/fullstackpython">@fullstackpython</a>.
          <hr/>
          Need more detailed tutorials than you see here?
          <a href="http://www.deploypython.com/">Learn more about The Full Stack Python Guide to Deployments book.</a>
          <hr/>
          <a href="/">Full Stack Python</a> is an open book that explains
          concepts in plain language and provides the most helpful resources 
          on those topics.
      </div>
  </div>
</div>
