<?xml version="1.0" encoding="UTF-8"?>
<urlset xmlns="http://www.sitemaps.org/schemas/sitemap/0.9">

<url>
  <loc>https://www.fullstackpython.com/table-of-contents.html</loc>
  <priority>1.0</priority>
</url>

{% for article in articles %}
  <url>
    <loc>https://www.fullstackpython.com/blog/{{ article.slug }}.html</loc>
    <priority>1.0</priority>
  </url>
{% endfor %}

{% for page in pages %}
  <url>
    <loc>https://www.fullstackpython.com/{{ page.slug }}.html</loc>
    <priority>1.0</priority>
  </url>
{% endfor %}

</urlset>
