{% if page.title == 'Django' %}
<div class="panel panel-success">
  <div class="panel-heading">
    <h3 class="panel-head">Sponsored By</h3>
  </div>
  <div class="panel-body">
    <a href="https://realpython.com/?utm_source=fullstackpython&utm_medium=referral&utm_campaign=django_page"><img src="theme/img/sponsored/realpython.png" alt="Real Python logo" width="100%"></a>
    <p style="font-size: .8em;">If you're searching for step-by-step Django 
       tutorials then I highly recommend
       <a href="https://realpython.com/?utm_source=fullstackpython&utm_medium=referral&utm_campaign=django_page">checking out Real Python</a>.
    </p>
  </div>
</div>
{% endif %}

{% if page.title == 'Flask' %}
<div class="panel panel-success">
  <div class="panel-heading">
    <h3 class="panel-head">Sponsored By</h3>
  </div>
  <div class="panel-body">
    <a href="https://realpython.com/?utm_source=fullstackpython&utm_medium=referral&utm_campaign=flask_page"><img src="theme/img/sponsored/realpython.png" alt="Real Python logo" width="100%"></a>
    <p style="font-size: .8em;">If you're searching for step-by-step Flask 
       tutorials then I highly recommend
       <a href="https://realpython.com/?utm_source=fullstackpython&utm_medium=referral&utm_campaign=flask_page">checking out Real Python</a>.
    </p>
  </div>
</div>
{% endif %}
