{% if page.title == 'Django' %}
<div class="panel panel-success">
  <div class="panel-heading">
    <h3 class="panel-head">Sponsored By</h3>
  </div>
  <div class="panel-body">
    <a href="https://realpython.com/?utm_source=fsp&amp;utm_medium=promo&amp;utm_campaign=django"><img src="theme/img/sponsored/realpython.png" alt="Real Python logo" width="100%"></a>
    <p style="font-size: .8em;">If you're searching for step-by-step Django 
       tutorials then I highly recommend
       <a href="https://realpython.com/?utm_source=fsp&amp;utm_medium=promo&amp;utm_campaign=django" onclick="trackOutboundLink('https://realpython.com/?utm_source=fsp&amp;utm_medium=promo&amp;utm_campaign=django'); return false;">checking out Real Python</a>.
    </p>
  </div>
</div>
{% endif %}

{% if page.title == 'Flask' %}
<div class="panel panel-success">
  <div class="panel-heading">
    <h3 class="panel-head">Sponsored By</h3>
  </div>
  <div class="panel-body">
    <a href="https://realpython.com/?utm_source=fsp&amp;utm_medium=promo&amp;utm_campaign=flask"><img src="theme/img/sponsored/realpython.png" alt="Real Python logo" width="100%"></a>
    <p style="font-size: .8em;">If you're searching for step-by-step Flask 
       tutorials then I highly recommend
       <a href="https://realpython.com/?utm_source=fsp&amp;utm_medium=promo&amp;utm_campaign=flask" onclick="trackOutboundLink('https://realpython.com/?utm_source=fsp&amp;utm_medium=promo&amp;utm_campaign=flask'); return false;">checking out Real Python</a>.
    </p>
  </div>
</div>
{% endif %}


{% if page.title == 'Best Python Resources' %}
<div class="panel panel-success">
  <div class="panel-heading">
    <h3 class="panel-head">Sponsored By</h3>
  </div>
  <div class="panel-body">
    <a href="https://realpython.com/?utm_source=fsp&amp;utm_medium=promo&amp;utm_campaign=bestresources"><img src="theme/img/sponsored/realpython.png" alt="Real Python logo" width="100%"></a>
    <p style="font-size: .8em;">If you want to learn Python then
       I highly recommend
       <a href="https://realpython.com/?utm_source=fsp&amp;utm_medium=promo&amp;utm_campaign=bestresources" onclick="trackOutboundLink('https://realpython.com/?utm_source=fsp&amp;utm_medium=promo&amp;utm_campaign=bestresources'); return false;">checking out Real Python</a>'s
       courses.
    </p>
  </div>
</div>
{% endif %}

{% if page.title == 'Web Frameworks' %}
<div class="panel panel-success">
  <div class="panel-heading">
    <h3 class="panel-head">Sponsored By</h3>
  </div>
  <div class="panel-body">
    <a href="https://realpython.com/?utm_source=fsp&amp;utm_medium=promo&amp;utm_campaign=webframeworks"><img src="theme/img/sponsored/realpython.png" alt="Real Python logo" width="100%"></a>
    <p style="font-size: .8em;">If you want to learn Python web development then
       I highly recommend
       <a href="https://realpython.com/?utm_source=fsp&amp;utm_medium=promo&amp;utm_campaign=webframeworks" onclick="trackOutboundLink('https://realpython.com/?utm_source=fsp&amp;utm_medium=promo&amp;utm_campaign=webframeworks'); return false;">checking out Real Python</a>'s
       courses.
    </p>
  </div>
</div>
{% endif %}





{% if page.title == 'Logging' %}
<div class="panel panel-success">
  <div class="panel-heading">
    <h3 class="panel-head">Sponsored By</h3>
  </div>
  <div class="panel-body">
    <a href="https://www.loggly.com/log-management/python-logging/?utm_source=fsp&amp;utm_medium=promo&amp;utm_campaign=march"><img src="theme/img/sponsored/loggly.jpg" alt="Loggly with Beaver logo" width="100%"></a>
    <p style="font-size: .8em; margin-top: 10px;">Want to improve your Python 
       web app's logging performance? I highly recommend 
       <a href="https://www.loggly.com/log-management/python-logging/?utm_source=fsp&amp;utm_medium=promo&amp;utm_campaign=march" onclick="trackOutboundLink('https://www.loggly.com/log-management/python-logging/?utm_source=fsp&amp;utm_medium=promo&amp;utm_campaign=march'); return false;">signing up for a free Loggly account</a>.
    </p>
  </div>
</div>
{% elif page.slug == 'monitoring' %}
<div class="panel panel-success">
  <div class="panel-heading">
    <h3 class="panel-head">Sponsored By</h3>
  </div>
  <div class="panel-body">
    <a href="https://www.loggly.com/log-management/python-logging/?utm_source=fsp&amp;utm_medium=promo&amp;utm_campaign=march"><img src="theme/img/sponsored/loggly.jpg" alt="Loggly with Beaver logo" width="100%"></a>
    <p style="font-size: .8em; margin-top: 10px;">Want to improve monitoring
       in your Python web app? I highly recommend 
       <a href="https://www.loggly.com/log-management/python-logging/?utm_source=fsp&amp;utm_medium=promo&amp;utm_campaign=march" onclick="trackOutboundLink('https://www.loggly.com/log-management/python-logging/?utm_source=fsp&amp;utm_medium=promo&amp;utm_campaign=march'); return false;">signing up for a free Loggly account</a>.
    </p>
  </div>
</div>
{% elif page.slug == 'deployment' or page.slug == 'servers' or page.slug == 'platform-as-a-service' or page.slug == 'operating-systems' or page.slug == 'web-servers' or page.slug == 'wsgi-servers' or page.slug == 'source-control' or page.slug == 'application-dependencies' or page.slug == 'static-content' or page.slug == 'caching' or page.slug == 'task-queues' or page.slug == 'configuration-management' or page.slug == 'continuous-integration' or page.slug == 'web-analytics' or page.slug == 'docker' or page.slug == 'databases' or page.slug == 'no-sql-datastore' or page.slug == 'web-application-security' %}
<div class="panel panel-success">
  <div class="panel-heading">
    <h3 class="panel-head">Sponsored By</h3>
  </div>
  <div class="panel-body">
    <a href="https://www.loggly.com/log-management/python-logging/?utm_source=fsp&amp;utm_medium=promo&amp;utm_campaign=march"><img src="theme/img/sponsored/loggly.jpg" alt="Loggly with Beaver logo" width="100%"></a>
    <p style="font-size: .8em; margin-top: 10px;">Want to enhance your Python 
       web application deployments? I highly recommend 
       <a href="https://www.loggly.com/log-management/python-logging/?utm_source=fsp&amp;utm_medium=promo&amp;utm_campaign=march" onclick="trackOutboundLink('https://www.loggly.com/log-management/python-logging/?utm_source=fsp&amp;utm_medium=promo&amp;utm_campaign=march'); return false;">signing up for a free Loggly account</a>
       to improve your logging performance.
    </p>
  </div>
</div>
{% endif %}
