<div class="sans-font">
  <!--<a href="/blog.html" class="submenu-item-first">Blog</a> |
  <a href="/books.html" class="submenu-item">Books</a> | -->
  <a href="/table-of-contents.html">All topics</a>
  <span style="margin:0 12px 0 12px">|</span>
  <a href="/blog.html">Blog</a>
  <span style="margin:0 12px 0 12px">|</span>
  <a href="/email.html">Newsletter</a>
  <span style="margin:0 12px 0 12px">|</span>
  <a href="https://twitter.com/fullstackpython">@fullstackpython</a>
  <span style="margin:0 12px 0 12px">|</span>
  <a href="https://www.facebook.com/fullstackpython">Facebook</a>
  <span style="margin:0 12px 0 12px">|</span>
  <a href="https://github.com/mattmakai/fullstackpython.com/tree/gh-pages/source">Source</a> 
</div>
