{% extends "base.html" %}

{% block meta_header %}
<meta name="description" content="Full Stack Python is an open source book on Python programming topics. Learn more on the table of contents page.">
{% endblock %}

{% block content %}
<div class="row">
    <div class="col-md-12">
        <h1>Table of Contents</h1>
        <div class="row">
            <div class="col-md-6">
              <div class="list-group">

                    <h3>1. <a href="/introduction.html">Introduction</a></h3>
                    <h4 class="toc-subsection">1.1 <a href="/learning-programming.html">Learning Programming</a></h4>
                    <div><a href="/why-use-python.html" class="subsection">Why Use Python?</a></div>
                    <div><a href="/python-2-or-3.html" class="subsection">Python 2 or 3?</a></div>
                    <div><a href="/enterprise-python.html" class="subsection">Enterprise Python</a></div>

                    <h4 class="toc-subsection">1.2 <a href="/community.html">Community</a></h4>
                    <div><a href="/events.html" class="subsection">Events</a></div>
                    <div><a href="/livecoding.html" class="subsection">Live Coding</a></div>
                    <div><a href="/organizations.html" class="subsection">Organizations</a></div>
                    <div><a href="/jobs.html" class="subsection">Jobs</a></div>
                    <div><a href="/best-python-resources.html" class="subsection">The Best Python Resources</a></div>
                    <div><a href="/best-python-videos.html" class="subsection">Must-watch Python Videos</a></div>



                    <h3>2. <a href="/development-environments.html">Development Environments</a></h3>
                    <h4 class="toc-subsection">2.1 <a href="/text-editors-ides">Text Editors and IDEs</a></h4>
                    <div><a href="/vim.html" class="subsection">Vim</a></div>
                    <div><a href="/emacs.html" class="subsection">Emacs</a></div>
                    <div><a href="/pycharm.html" class="subsection">PyCharm</a></div>
                    <div><a href="/sublime-text.html" class="subsection">Sublime Text</a></div>
                    <div><a href="/wing-ide.html" class="subsection">Wing IDE</a></div>
                    <div><a href="/idle.html" class="subsection">IDLE</a></div>
                    <div><a href="/ipython-notebook.html" class="subsection">IPython Notebook</a></div>

                    <h4 class="toc-subsection">2.2 <a href="/local-development.html">Local Development</a></h4>
                    <div><a href="/environment-variables.html" class="subsection">Environment Variables</a></div>
                    <div><a href="/dependency-isolation.html" class="subsection">Dependency Isolation</a></div>
                    <div><a href="/application-dependencies.html" class="subsection">Application Dependencies</a></div>

                    <h4 class="toc-subsection">2.3 <a href="/source-control.html">Source Control</a></h4>
                    <div><a href="/git.html" class="subsection">Git</a></div>
                    <div><a href="/mercurial.html" class="subsection">Mercurial</a></div>
                    <div><a href="/subversion-svn.html" class="subsection">Subversion</a></div>

                    <h4 class="toc-subsection">2.4 <a href="/cloud-ides">Cloud IDEs</a></h4>
                    <div><a href="/nitrous-io.html" class="subsection">Nitrous.IO</a></div>
                    <div><a href="/cloud9.html" class="subsection">Cloud9</a></div>
                    <div><a href="/terminal.html" class="subsection">Terminal</a></div>
                    <div><a href="/koding.html" class="subsection">Koding</a></div>



                    <h3>3. <a href="/core-python.html">Core Python</a></h3>
                    <h4 class="toc-subsection">3.1 <a href="/basic-language-concepts.html">Basic Language Concepts</a></h4>
                    <div><a href="/conditionals.html" class="subsection">Conditionals</a></div>
                    <div><a href="/iteration.html" class="subsection">Iteration</a></div>
                    <div><a href="/standard-library-stdlib.html" class="subsection">The Standard Library (stdlib)</a></div>

                    <h4 class="toc-subsection">3.2 <a href="/intermediate-python.html">Intermediate Language Concepts</a></h4>
                    <div><a href="/decorators.html" class="subsection">Decorators</a></div>
                    <div><a href="/generators.html" class="subsection">Generators</a></div>
                    <div><a href="/comprehensions.html" class="subsection">Comprehensions</a></div>
                    <div><a href="/metaclasses.html" class="subsection">Metaclasses</a></div>

                    <h4 class="toc-subsection">3.3 <a href="/interpreters-compilers.html">Interpreters and Compilers</a></h4>
                    <div><a href="/cpython.html" class="subsection">CPython</a></div>
                    <div><a href="/pypy.html" class="subsection">PyPy</a></div>
                    <div><a href="/cython.html" class="subsection">Cython</a></div>
                    <div><a href="/unladen-swallow.html" class="subsection">Unladen Swallow</a></div>
                    <div><a href="/jython.html" class="subsection">Jython</a></div>



                    <h3>4. <a href="/testing.html">Testing</a></h3>
                    <h4 class="toc-subsection">4.1 <a href="/testing-approaches.html">Testing Approaches</a></h4>
                    <div><a href="/unit-testing.html" class="subsection">Unit Testing</a></div>
                    <div><a href="/integration-testing.html" class="subsection">Integration Testing</a></div>
                    <div><a href="/functional-testing.html" class="subsection">Functional Testing</a></div>
                    <div><a href="/database-testing.html" class="subsection">Database Testing</a></div>
                    <div><a href="/load-testing.html" class="subsection">Load Testing</a></div>
                    <div><a href="/user-interface-testing.html" class="subsection">User Interface Testing</a></div>
                    <div><a href="/test-driven-development-tdd.html" class="subsection">Test-driven Development (TDD)</a></div>
                    <div><a href="/mocking.html" class="subsection">Mocking</a></div>

                    <h4 class="toc-subsection">4.2 <a href="/debugging.html">Debugging</a></h4>
                    <div><a href="/pdb.html" class="subsection">pdb</a></div>
                    <div><a href="/ipdb.html" class="subsection">ipdb</a></div>
                    <div><a href="/django-debug-toolbar.html" class="subsection">Django Debug Toolbar</a></div>

                    <h4 class="toc-subsection">4.3 <a href="/code-metrics.html">Code Metrics</a></h4>
                    <div><a href="/code-coverage.html" class="subsection">Code Coverage</a></div>
                    <div><a href="/linters.html" class="subsection">Linters</a></div>
                    <div><a href="/profiling.html" class="subsection">Profiling</a></div>



                    <h3>5. <a href="/data.html">Data</a></h3>
                    <h4 class="toc-subsection">5.1 <a href="/databases.html">Relational databases</a></h4>
                    <div><a href="/postgresql.html" class="subsection">PostgreSQL</a></div>
                    <div><a href="/mysql.html" class="subsection">MySQL</a></div>
                    <div><a href="/sqlite.html" class="subsection">SQLite</a></div>

                    <h4 class="toc-subsection">5.2 <a href="/no-sql-datastore.html">NoSQL</a></h4>
                    <div><a href="/redis.html" class="subsection">Redis</a></div>
                    <div><a href="/mongodb.html" class="subsection">MongoDB</a></div>
                    <div><a href="/riak.html" class="subsection">Riak</a></div>
                    <div><a href="/memcached.html" class="subsection">Memcached</a></div>

                    <h4 class="toc-subsection">5.3 <a href="/search.html">Search</a></h4>
                    <div><a href="/elastic-search.html" class="subsection">Elastic Search</a></div>
                    <div><a href="/whoosh.html" class="subsection">Whoosh</a></div>
                    <div><a href="/solr.html" class="subsection">Solr</a></div>

                    <h4 class="toc-subsection">5.4 <a href="/data-analysis.html">Data Analysis</a></h4>
                    <div><a href="/pandas.html" class="subsection">Pandas</a></div>
                    <div><a href="/numpy.html" class="subsection">NumPy</a></div>
                    <div><a href="/scipy.html" class="subsection">SciPy</a></div>
                    <div><a href="/blaze.html" class="subsection">Blaze</a></div>

                    <h4 class="toc-subsection">5.5 <a href="/natural-language-processing.html">Natural Language Processing</a></h4>
                    <div><a href="/nltk.html" class="subsection">NLTK</a></div>
                    <div><a href="/textblob.html" class="subsection">TextBlob</a></div>

                    <h4 class="toc-subsection">5.6 <a href="/machine-learning.html">Machine Learning</a></h4>
                    <div><a href="/scikit-learn.html" class="subsection">scikit-learn</a></div>
                    <div><a href="/pattern.html" class="subsection">pattern</a></div>
                    <div><a href="/chainer.html" class="subsection">Chainer</a></div>

                    <h4 class="toc-subsection">5.7 <a href="/web-scraping.html">Web Scraping</a></h4>
                    <div><a href="/scrapy.html" class="subsection">Scrapy</a></div>
                    <div><a href="/grab.html" class="subsection">Grab</a></div>
                    <div><a href="/mechanicalsoup.html" class="subsection">MechanicalSoup</a></div>
                    <div><a href="/robobrowser.html" class="subsection">RoboBrowser</a></div>
              </div>
            </div>


            <div class="col-md-6">
              <div class="list-group">
                    <h3>6. <a href="/web-development.html">Web Development</a></h3>
                    <h4 class="toc-subsection">6.1 <a href="/web-frameworks.html">Web frameworks</a></h4>
                    <div><a href="/django.html" class="subsection">Django</a></div>
                    <div><a href="/flask.html" class="subsection">Flask</a></div>
                    <div><a href="/pyramid.html" class="subsection">Pyramid</a></div>
                    <div><a href="/bottle.html" class="subsection">Bottle</a></div>
                    <div><a href="/morepath.html" class="subsection">Morepath</a></div>
                    <div><a href="/falcon.html" class="subsection">Falcon</a></div>
                    <div><a href="/other-web-frameworks.html" class="subsection">Other web frameworks</a></div>

                    <h4 class="toc-subsection">6.2 <a href="/front-end-development.html">Front-end development</a></h4>
                    <div><a href="/web-design.html" class="subsection">Web design</a></div>
                    <div><a href="/cascading-style-sheets.html" class="subsection">Cascading Style Sheets (CSS)</a></div>
                    <div><a href="/javascript.html" class="subsection">JavaScript</a></div>

                    <h4 class="toc-subsection">6.3 <a href="/templates.html">Templates</a></h4>
                    <div><a href="/jinja2.html" class="subsection">Jinja2</a></div>
                    <div><a href="/mako.html" class="subsection">Mako</a></div>
                    <div><a href="/django-templates.html" class="subsection">Django Templates</a></div>

                    <h4 class="toc-subsection">6.4 <a href="/object-relational-mappers-orms.html">Object-relational mappers (ORMs)</a></h4>
                    <div><a href="/sqlalchemy.html" class="subsection">SQLAlchemy</a></div>
                    <div><a href="/django-orm.html" class="subsection">Django ORM</a></div>
                    <div><a href="/pony.html" class="subsection">Pony</a></div>

                    <h4 class="toc-subsection">6.5 <a href="/static-site-generator.html">Static site generators</a></h4>
                    <div><a href="/pelican.html" class="subsection">Pelican</a></div>
                    <div><a href="/cactus.html" class="subsection">Cactus</a></div>
                    <div><a href="/mkdocs.html" class="subsection">MkDocs</a></div>
                    <div><a href="/hyde.html" class="subsection">Hyde</a></div>

                    <h4 class="toc-subsection">6.6 <a href="/web-protocols.html">Protocols</a></h4>
                    <div><a href="/hypertext-transfer-protocol-http.html" class="subsection">HTTP</a></div>
                    <div><a href="/websockets.html" class="subsection">WebSockets</a></div>
                    <div><a href="/webrtc.html" class="subsection">WebRTC</a></div>
                    <div><a href="/server-sent-events-sse.html" class="subsection">Server-Sent Events (SSE)</a></div>


                    <h3>7. <a href="/application-programming-interfaces.html">Web APIs</a></h3>
                    <h4 class="toc-subsection">7.1 <a href="/api-creation.html">API Creation</a></h4>
                    <div><a href="/representational-state-transfer.html" class="subsection">REST</a></div>
                    <div><a href="/javascript-object-notation.html" class="subsection">JavaScript Object Notation (JSON)</a></div>
                    <div><a href="/microservices.html" class="subsection">Microservices</a></div>
                    <div><a href="/bots.html" class="subsection">Bots</a></div>

                    <h4 class="toc-subsection">7.2 <a href="/api-integration.html">API Integration</a></h4>
                    <div><a href="/helper-libraries.html" class="subsection">Helper Libraries</a></div>
                    <div><a href="/requests.html" class="subsection">Requests</a></div>
                    <div><a href="/webhooks.html" class="subsection">Webhooks</a></div>

                    <h4 class="toc-subsection">7.3 <a href="/api-frameworks.html">API Frameworks</a></h4>
                    <div><a href="/django-rest-framework.html" class="subsection">Django REST Framework</a></div>
                    <div><a href="/flask-restful.html" class="subsection">Flask-RESTful</a></div>
                    <div><a href="/flask-restless.html" class="subsection">Flask-Restless</a></div>
                    <div><a href="/flask-api.html" class="subsection">Flask API</a></div>
                    <div><a href="/eve.html" class="subsection">Eve</a></div>



                    <h3>8. <a href="/deployment.html">Web App Deployment</a></h3>
                    <div class="toc-indent" style="margin-top: 6px;">
                        There's an
                        <a href="http://www.deploypython.com/">entire step-by-step book</a>
                        on deploying Python web applications.
                    </div>
                    <h4 class="toc-subsection">8.1 <a href="/hosting.html">Hosting</a></h4>
                    <div><a href="/servers.html" class="subsection">Servers</a></div>
                    <div><a href="/platform-as-a-service.html" class="subsection">Platform-as-a-Service</a></div>
                    <div><a href="/operating-systems.html" class="subsection">Operating systems</a></div>
                    <div><a href="/static-content.html" class="subsection">Static content</a></div>
                    <div><a href="/content-delivery-networks-cdns.html" class="subsection">Content Delivery Networks (CDNs)</a></div>

                    <h4 class="toc-subsection">8.2 <a href="/web-servers.html">Web servers</a></h4>
                    <div><a href="/nginx.html" class="subsection">Nginx</a></div>
                    <div><a href="/apache-http-server.html" class="subsection">Apache HTTP Server</a></div>
                    <div><a href="/lighttpd.html" class="subsection">Lighttpd</a></div>
                    <div><a href="/caddy.html" class="subsection">Caddy</a></div>

                    <h4 class="toc-subsection">8.3 <a href="/wsgi-servers.html">WSGI servers</a></h4>
                    <div><a href="/green-unicorn.html" class="subsection">Green Unicorn</a></div>
                    <div><a href="/uwsgi.html" class="subsection">uWSGI</a></div>
                    <div><a href="/mod-wsgi.html" class="subsection">mod_wsgi</a></div>
                    <div><a href="/cherrypy.html" class="subsection">CherryPy</a></div>
                    <div><a href="/wsgiref.html" class="subsection">wsgiref</a></div>

                    <h4 class="toc-subsection">8.4 <a href="/task-queues.html">Task Queues</a></h4>
                    <div><a href="/celery.html" class="subsection">Celery</a></div>
                    <div><a href="/rq-redis-queue.html" class="subsection">RQ (Redis Queue)</a></div>
                    <div><a href="/taskmaster.html" class="subsection">Taskmaster</a></div>
                    <div><a href="/huey.html" class="subsection">Huey</a></div>

                    <h4 class="toc-subsection">8.5 <a href="/configuration-management.html">Configuration management</a></h4>
                    <div><a href="/ansible.html" class="subsection">Ansible</a></div>
                    <div><a href="/docker.html" class="subsection">Docker</a></div>
                    <div><a href="/puppet.html" class="subsection">Puppet</a></div>
                    <div><a href="/chef.html" class="subsection">Chef</a></div>

                    <h4 class="toc-subsection">8.6 <a href="/continuous-integration.html">Continuous integration</a></h4>
                    <div><a href="/jenkins.html" class="subsection">Jenkins</a></div>
                    <div><a href="/buildbot.html" class="subsection">Buildbot</a></div>
                    <div><a href="/go-cd.html" class="subsection">Go CD</a></div>



                    <h3>9. <a href="/operations.html">DevOps</a></h3>
                    <h4 class="toc-subsection">9.1 <a href="/monitoring.html">Monitoring</a></h4>
                    <div><a href="/logging.html" class="subsection">Logging</a></div>

                    <h4 class="toc-subsection">9.2 <a href="/web-application-performance.html">Web App Performance</a></h4>
                    <div><a href="/caching.html" class="subsection">Caching</a></div>
                    <div><a href="/browser-performance.html" class="subsection">Browser Performance</a></div>

                    <h4 class="toc-subsection">9.3 <a href="/web-analytics.html">Web Analytics</a></h4>
                    <div><a href="/piwik.html" class="subsection">Piwik</a></div>
                    <div><a href="/google-analytics.html" class="subsection">Google Analytics</a></div>



                    <h3>10. <a href="/security.html">Security</a></h3>
                    <h4 class="toc-more-subsection">10.1 <a href="/server-security.html">Server Security</a></h4>
                    <div><a href="/firewalls.html" class="more-subsection">Firewalls</a></div>
                    <div><a href="/authentication.html" class="more-subsection">Authentication</a></div>
                    <div><a href="/public-key-infrastructure.html" class="more-subsection">Public Key Infrastructure</a></div>

                    <h4 class="toc-more-subsection">10.2 <a href="/web-application-security.html">Web Application Security</a></h4>
                    <div><a href="/authentication.html" class="more-subsection">Authentication</a></div>
                    <div><a href="/http-secure.html" class="more-subsection">HTTPS</a></div>
                    <div><a href="/sql-injection.html" class="more-subsection">SQL Injection</a></div>
                    <div><a href="/cross-site-scripting-xss.html" class="more-subsection">Cross-site scripting (XSS)</a></div>
                    


                    <h3>11. Meta</h3>
                    <div class="toc-more-indent"><a href="/what-full-stack-means.html">What "full stack" means</a></div>
                    <div class="toc-more-indent"><a href="/about-author.html">About the author</a></div>
                    <div class="toc-more-indent"><a href="/change-log.html">Change log</a></div>
                    <div class="toc-more-indent"><a href="/future-directions.html">Future directions</a></div>

                </div>
            </div>
        </div>
    </div>
</div>
{% endblock %}

{% block lower_banner %}
    {% include "banner.html" %}
{% endblock %}
