{% extends "base.html" %}

{% block content %}
<div class="row">
    <div class="col-md-5">
      <h1>Table of Contents</h1>
      <div class="list-group">
        {% for p in pages|sort(attribute='sort-order') %}
          <a href="/{{ p.slug }}.html" class="list-group-item {% if page and p.slug == page.slug %}active{% endif %}">{{ p.title }}</a>
        {% endfor %}
      </div>
    </div>
    <div class="col-md-3">
      <p>
      <h1>Map</h1>
      In addition to the table of content, there's also a work-in-progress 
      <a href="/full-stack-python-map.pdf">subjects map (.pdf)</a> 
      that visually lays out each chapter.
      </p>
    </div>
    {% include "sidebar.html" %}
</div>
{% endblock %}
