{% extends "base.html" %}

{% block meta_header %}
<meta name="description" content="Full Stack Python is an open source book on Python programming topics. Learn more on the table of contents page.">
{% endblock %}

{% block title %}Table of Contents for {% endblock %}

{% block content %}
<div class="row">
    <div class="col-md-8">
        <h1>Table of Contents</h1>
        <div class="row">
            <div class="col-md-6">
              <div class="list-group">
                    <h3>1. <a href="/introduction.html">Introduction</a></h3>
                    <div class="toc-indent">
                        <a href="/learning-programming.html">Learning Programming</a>
                    </div>
                    <div class="toc-indent">
                        <a href="/why-use-python.html">Why Use Python?</a>
                    </div>
                    <div class="toc-indent">
                        <a href="/python-2-or-3.html">Python 2 or 3?</a>
                    </div>
                    <!--
                    <div class="toc-indent">
                        <a href="/community.html">Community</a>
                    </div>
                    <div class="toc-indent">
                        <a href="/conferences.html">Conferences</a>
                    </div>
                    <div class="toc-indent">
                        <a href="/organizations.html">Organizations</a>
                    </div>
                    -->
                    <div class="toc-indent">
                        <a href="/enterprise-python.html">Enterprise Python</a>
                    </div>
                    <div class="toc-indent">
                        <a href="/best-python-resources.html">The Best Python Resources</a>
                    </div>
                    <div class="toc-indent">
                        <a href="/best-python-videos.html">Must-watch Python Videos</a>
                    </div>


                    <h3>2. <a href="/development-environments.html">Development Environments</a></h3>
                    <div class="toc-indent">
                        <a href="/vim.html">Vim</a>
                    </div>
                    <div class="toc-indent">
                        <a href="/emacs.html">Emacs</a>
                    </div>
                    <!--
                    <div class="toc-indent">
                        <a href="/idle.html">Idle</a>
                    </div>
                    <div class="toc-indent">
                        <a href="/ipython-notebook.html">IPython Notebook</a>
                    </div>
                    <div class="toc-indent">
                        <a href="/pycharm.html">PyCharm</a>
                    </div>
                    <div class="toc-indent">
                        <a href="/sublime-text.html">Sublime Text</a>
                    </div>
                    <div class="toc-indent">
                        <a href="/wing-ide.html">Wing IDE</a>
                    </div>
                    <div class="toc-indent">
                        <a href="/pydev.html">PyDev</a>
                    </div>
                    <div class="toc-indent">
                        <a href="/environment-variables.html">Environment variables</a>
                    </div>
                    <div class="toc-indent">
                        <a href="/virtualenv.html">Virtualenv</a>
                    </div>
                    -->


                    <h3>3. <a href="/python-programming-language.html">Programming Language</a></h3>
                    <div class="toc-indent">
                        <a href="/generators.html">Generators</a>
                    </div>
                    <div class="toc-indent">
                        <a href="/comprehensions.html">Comprehensions</a>
                    </div>
                    <!--
                    <div class="toc-indent">
                        <a href="/decorators.html">Decorators</a>
                    </div>
                    <div class="toc-indent">
                        <a href="/metaclasses.html">Metaclasses</a>
                    </div>
                    <div class="toc-indent">
                        The Standard Library (stdlib)
                    </div>
                    <div class="toc-indent">
                        Interpreters
                    </div>
                    -->


                    <h3>4. <a href="/web-development.html">Web Development</a></h3>
                    <div class="toc-indent">
                        <a href="/web-design.html">Web design</a>
                    </div>
                    <div class="toc-indent">
                        <a href="/template-engines.html">Template engines</a>
                    </div>
                    <div class="toc-indent">
                        <a href="/jinja2.html">Jinja2</a>
                    </div>
                    <div class="toc-indent">
                        <a href="/cascading-style-sheets.html">Cascading Style Sheets (CSS)</a>
                    </div>
                    <div class="toc-indent">
                        <a href="/javascript.html">JavaScript</a>
                    </div>
                    <div class="toc-indent">
                        <a href="/websockets.html">WebSockets</a>
                    </div>
                    <div class="toc-indent">
                        <a href="/web-application-security.html">Web application security</a>
                    </div>
                    <div class="toc-indent">
                        <a href="/static-site-generator.html">Static site generators</a>
                    </div>

                    <h3>5. <a href="/web-frameworks.html">Web Frameworks</a></h3>
                    <div class="toc-indent">
                        <a href="/django.html">Django</a>
                    </div>
                    <div class="toc-indent">
                        <a href="/flask.html">Flask</a>
                    </div>
                    <div class="toc-indent">
                        <a href="/pyramid.html">Pyramid</a>
                    </div>
                    <div class="toc-indent">
                        <a href="/bottle.html">Bottle</a>
                    </div>
                    <div class="toc-indent">
                        <a href="/morepath.html">Morepath</a>
                    </div>
                    <!--
                    <div class="toc-indent">
                        Falcon
                    </div>
                    <div class="toc-indent">
                        Twisted
                    </div>
                    -->
                    <div class="toc-indent">
                        <a href="/other-web-frameworks.html">Other web frameworks</a>
                    </div>

                    <h3>6. <a href="/data.html">Data</a></h3>
                    <div class="toc-indent">
                        <a href="/databases.html">Relational databases</a>
                    </div>
                    <div class="toc-indent">
                        <a href="/postgresql.html">PostgreSQL</a>
                    </div>
                    <div class="toc-indent">
                        <a href="/sqlite.html">SQLite</a>
                    </div>
                    <div class="toc-indent">
                        <a href="/mysql.html">MySQL</a>
                    </div>
                    <div class="toc-indent">
                        <a href="/object-relational-mappers-orms.html">Object-relational mappers (ORMs)</a>
                    </div>
                    <div class="toc-indent">
                        <a href="/no-sql-datastore.html">NoSQL</a>
                    </div>
                    <!--
                    <div class="toc-indent">
                        Search
                    </div>
                    <div class="toc-indent">
                        Machine learning
                    </div>
                    <div class="toc-indent">
                        Data analysis
                    </div>
                    -->


              </div>
            </div>


            <div class="col-md-6">
              <div class="list-group">
                    <h3>7. 
                        <a href="/application-programming-interfaces.html">Web APIs</a>
                    </h3>
                    <div class="toc-indent">
                        <a href="/api-integration.html">API integration</a>
                    </div>
                    <div class="toc-indent">
                        <a href="/api-creation.html">API creation</a>
                    </div>
                    <!--
                    <div class="toc-indent">
                        Helper libraries
                    </div>
                    <div class="toc-indent">
                        REST
                    </div>
                    -->


                    <h3>8. <a href="/deployment.html">Web App Deployment</a></h3>
                    <div class="toc-indent">
                        <a href="/servers.html">Servers</a>
                    </div>
                    <div class="toc-indent">
                        <a href="/platform-as-a-service.html">Platform-as-a-Service</a>
                    </div>
                    <div class="toc-indent">
                        <a href="/operating-systems.html">Operating systems</a>
                    </div>
                    <div class="toc-indent">
                        <a href="/web-servers.html">Web servers</a>
                    </div>
                    <div class="toc-indent">
                        <a href="/apache-http-server.html">Apache HTTP Server</a>
                    </div>
                    <div class="toc-indent">
                        <a href="/nginx.html">Nginx</a>
                    </div>
                    <div class="toc-indent">
                        <a href="/caddy.html">Caddy</a>
                    </div>
                    <div class="toc-indent">
                        <a href="/wsgi-servers.html">WSGI servers</a>
                    </div>
                    <div class="toc-indent">
                        <a href="/green-unicorn-gunicorn.html">Green Unicorn</a>
                    </div>
                    <div class="toc-indent">
                        <a href="/source-control.html">Source control</a>
                    </div>
                    <div class="toc-indent">
                        <a href="/application-dependencies.html">Application dependencies</a>
                    </div>
                    <div class="toc-indent">
                        <a href="/static-content.html">Static content</a>
                    </div>
                    <div class="toc-indent">
                        <a href="/caching.html">Caching</a>
                    </div>
                    <div class="toc-indent">
                        <a href="/task-queues.html">Task queues</a>
                    </div>
                    <div class="toc-indent">
                        <a href="/configuration-management.html">Configuration management</a>
                    </div>
                    <div class="toc-indent">
                        <a href="/continuous-integration.html">Continuous integration</a>
                    </div>
                    <div class="toc-indent">
                        <a href="/docker.html">Docker</a>
                    </div>
                    <div class="toc-indent">
                        <a href="/logging.html">Logging</a>
                    </div>
                    <div class="toc-indent">
                        <a href="/monitoring.html">Monitoring</a>
                    </div>
                    <div class="toc-indent">
                        <a href="/web-analytics.html">Web Analytics</a>
                    </div>
                    <div class="toc-indent" style="margin-top: 6px;">
                        There is also an
                        <a href="http://www.deploypython.com/">entire book</a>
                        dedicated to Python web application deployment.
                    </div>

                    
                    <h3>9. <a href="/testing.html">Testing</a></h3>
                    <div class="toc-indent">
                        <a href="/unit-testing.html">Unit testing</a>
                    </div>
                    <div class="toc-indent">
                        <a href="/integration-testing.html">Integration testing</a>
                    </div>
                    <div class="toc-indent">
                        <a href="/debugging.html">Debugging</a>
                    </div>
                    <div class="toc-indent">
                        <a href="/code-metrics.html">Code metrics</a>
                    </div>
                    <!--
                    <div class="toc-indent">
                        Functional testing
                    </div>
                    <div class="toc-indent">
                        Database testing
                    </div>
                    <div class="toc-indent">
                        Load testing
                    </div>
                    <div class="toc-indent">
                        User interface testing
                    </div>
                    <div class="toc-indent">
                        Mocking
                    </div>
                    <div class="toc-indent">
                        Test-driven Development (TDD)
                    </div>
                    <div class="toc-indent">
                        Code coverage
                    </div>


                    <h3>10. Security</h3>
                    <div class="toc-indent">
                        Server security
                    </div>
                    <div class="toc-indent">
                        Public key infrastructure
                    </div>
                    <div class="toc-indent">
                        Firewalls
                    </div>
                    <div class="toc-indent">
                        SQL injection
                    </div>
                    <div class="toc-indent">
                        Cross-site scripting (XSS) exploits
                    </div>


                    <h3>10. Documentation</h3>
                    <div class="toc-indent">
                        Docstrings
                    </div>
                    <div class="toc-indent">
                        Project documentation
                    </div>
                    -->

                    <h3>10. Meta</h3>
                    <div class="toc-more-indent">
                        <a href="/what-full-stack-means.html">What "full stack" means</a>
                    </div>
                    <div class="toc-more-indent">
                        <a href="/about-author.html">About the author</a>
                    </div>
                    <div class="toc-more-indent">
                        <a href="/change-log.html">Change log</a>
                    </div>
                    <div class="toc-more-indent">
                        <a href="/future-directions.html">Future directions</a>
                    </div>

                </div>
            </div>
        </div>
    </div>
    {% include "sidebar.html" %}
</div>
<div class="row">
    <div class="col-md-12">
        <h2><a href="/blog.html">Blog Posts</a></h2>
        {% for a in articles %}
            <h4 style="padding-bottom: 6px; line-height: 1.25em;"><a href="/blog/{{ a.slug }}.html">{{ a.title }}</a></h4>
        {% endfor %}
    </div>
</div>
{% endblock %}

{% block lower_banner %}
    {% include "banner.html" %}
{% endblock %}

