<div class="row">
    <div class="col-md-3">
        <div class="well select-next">
            <a href="/logging.html" class="btn btn-success btn-full"><i class="fa fa-align-left fa-inverse fa-2x"></i></a>
            <p class="under-btn">
                How do use logging with my app?
            </p>
        </div>
    </div>
    <div class="col-md-3">
        <div class="well select-next">
            <a href="/web-analytics.html" class="btn btn-success btn-full"><i class="fa fa-tasks fa-2x"></i></a>
            </a>
            <p class="under-btn">
                How do I call APIs outside the HTTP request-response cycle?
            </p>
        </div>
    </div>
    <div class="col-md-3">
        <div class="well select-next">
            <a href="/web-application-security.html" class="btn btn-success btn-full"><i class="fa fa-lock fa-inverse fa-2x"></i></a>
            <p class="under-btn">
                Where can I learn about web application security?
            </p>
        </div>
    </div>
    <div class="col-md-3">
        <div class="well select-next">
            <a href="/configuration-management.html" class="btn btn-success btn-full"><i class="fa fa-gears fa-inverse fa-2x"></i></a>
            <p class="under-btn">
                How do I automate the server configuration I've set up?
            </p>
        </div>
    </div>
</div>
