<div class="row">
    <div class="col-md-4">
        <div class="well select-next">
            <a href="/javascript.html" class="btn btn-success btn-full"><i class="fa fa-html5 fa-inverse fa-2x"></i></a>
            <p class="under-btn">
                How do I create a better browser experience with JavaScript?
            </p>
        </div>
    </div>
    <div class="col-md-4">
        <div class="well select-next">
            <a href="/static-content.html" class="btn btn-success btn-full"><i class="fa fa-spinner fa-inverse fa-2x"></i></a>
            <p class="under-btn">
                How should I host my static content such as my CSS files?
            </p>
        </div>
    </div>
    <div class="col-md-4">
        <div class="well select-next">
            <a href="/source-control.html" class="btn btn-success btn-full"><i class="fa fa-code-fork fa-inverse fa-2x"></i></a>
            <p class="under-btn">
                How do I save and version my code so it doesn't get lost?
            </p>
        </div>
    </div>
</div>
