<div class="row">
    <div class="col-md-3">
        <div class="well select-next">
            <a href="/logging.html" class="btn btn-success btn-full"><i class="fa fa-align-left fa-inverse fa-2x"></i></a>
            <p class="under-btn">
                How do I monitor my app and task queues with logging?
            </p>
        </div>
    </div>
    <div class="col-md-3">
        <div class="well select-next">
            <a href="/web-analytics.html" class="btn btn-success btn-full"><i class="fa fa-dashboard fa-2x"></i></a>
            </a>
            <p class="under-btn">
                I want to learn more about the users of my application.
            </p>
        </div>
    </div>
    <div class="col-md-3">
        <div class="well select-next">
            <a href="/api-integration.html" class="btn btn-success btn-full"><i class="fa fa-link fa-inverse fa-2x"></i></a>
            <p class="under-btn">
                How do I integrate external APIs into my app?
            </p>
        </div>
    </div>
    <div class="col-md-3">
        <div class="well select-next">
            <a href="/web-application-security.html" class="btn btn-success btn-full"><i class="fa fa-lock fa-inverse fa-2x"></i></a>
            <p class="under-btn">
                What should I do about security in my application?
            </p>
        </div>
    </div>
</div>
