<div class="row">
    <div class="col-md-3">
        <div class="well select-next">
            <a href="/application-dependencies.html" class="btn btn-success btn-full"><i class="fa fa-archive fa-inverse fa-2x"></i></a>
            <p class="under-btn">
                How do I install libraries like Django my app depends on?
            </p>
        </div>
    </div>
    <div class="col-md-3">
        <div class="well select-next">
            <a href="/deployment.html" class="btn btn-success btn-full"><i class="fa fa-share fa-inverse fa-2x"></i></a>
            <p class="under-btn">
                How do I deploy a Django app once I'm done coding?
            </p>
        </div>
    </div>
    <div class="col-md-3">
        <div class="well select-next">
            <a href="/api-integration.html" class="btn btn-success btn-full"><i class="fa fa-link fa-inverse fa-2x"></i></a>
            <p class="under-btn">
                I want to integrate APIs into my Django project.
            </p>
        </div>
    </div>
    <div class="col-md-3">
        <div class="well select-next">
            <a href="/cascading-style-sheets.html" class="btn btn-success btn-full"><i class="fa fa-css3 fa-inverse fa-2x"></i></a>
            <p class="under-btn">
                My user interface looks terrible. How do I style a web app?
            </p>
        </div>
    </div>
</div>
