<div class="row">
    <div class="col-md-4">
        <div class="well select-next">
            <a href="/introduction.html" class="btn btn-success btn-full"><i class="fa fa-fast-backward fa-inverse fa-2x"></i></a>
            <p class="under-btn">
                Let me start over from the Full Stack Python introduction.
            </p>
        </div>
    </div>
    <div class="col-md-4">
        <div class="well select-next">
            <a href="/change-log.html" class="btn btn-success btn-full"><i class="fa fa-pencil-square-o fa-inverse fa-2x"></i></a>
            <p class="under-btn">
                What's changed on Full Stack Python since the site began?
            </p>
        </div>
    </div>
    <div class="col-md-4">
        <div class="well select-next">
            <a href="/web-frameworks.html" class="btn btn-success btn-full"><i class="fa fa-code fa-inverse fa-2x"></i></a>
            <p class="under-btn">
                I want to learn how to code a Python web application now.
            </p>
        </div>
    </div>
</div>
