<div class="row">
    <div class="col-md-3">
        <div class="well select-next">
            <a href="/monitoring.html" class="btn btn-success btn-full"><i class="fa fa-bar-chart-o fa-inverse fa-2x"></i></a>
            <p class="under-btn">
                How do I monitor my app besides just the log files?
            </p>
        </div>
    </div>
    <div class="col-md-3">
        <div class="well select-next">
            <a href="/web-analytics.html" class="btn btn-success btn-full"><i class="fa fa-dashboard fa-2x"></i></a>
            </a>
            <p class="under-btn">
                I want to learn more about the users of my application.
            </p>
        </div>
    </div>
    <div class="col-md-3">
        <div class="well select-next">
            <a href="/web-application-security.html" class="btn btn-success btn-full"><i class="fa fa-lock fa-inverse fa-2x"></i></a>
            <p class="under-btn">
                Something in the logs looks strange. How do I learn about
                security?
            </p>
        </div>
    </div>
    <div class="col-md-3">
        <div class="well select-next">
            <a href="/configuration-management.html" class="btn btn-success btn-full"><i class="fa fa-gears fa-inverse fa-2x"></i></a>
            <p class="under-btn">
                How do I automate the server configuration I've set up?
            </p>
        </div>
    </div>
</div>
