<div class="row">
    <div class="col-md-3">
        <div class="well select-next">
            <a href="/databases.html" class="btn btn-success btn-full"><i class="fa fa-hdd-o fa-2x"></i></a>
            </a>
            <p class="under-btn">
                Tell me more about standard relational databases.
            </p>
        </div>
    </div>
    <div class="col-md-3">
        <div class="well select-next">
            <a href="/wsgi-servers.html" class="btn btn-success btn-full"><i class="fa fa-play fa-inverse fa-2x"></i></a>
            <p class="under-btn">
                How do I set up a WSGI server to run the Python code?
            </p>
        </div>
    </div>
    <div class="col-md-3">
        <div class="well select-next">
            <a href="/cascading-style-sheets.html" class="btn btn-success btn-full"><i class="fa fa-css3 fa-inverse fa-2x"></i></a>
            <p class="under-btn">
                My app is running, but it looks awful. I need to style the 
                interface.
            </p>
        </div>
    </div>
    <div class="col-md-3">
        <div class="well select-next">
            <a href="/javascript.html" class="btn btn-success btn-full"><i class="fa fa-html5 fa-inverse fa-2x"></i></a>
            <p class="under-btn">
                How do I create a better browser experience with JavaScript?
            </p>
        </div>
    </div>
</div>
