<div class="row">
    <div class="col-md-4">
        <div class="well select-next">
            <a href="/servers.html" class="btn btn-success btn-full"><i class="fa fa-sort-amount-asc fa-inverse fa-2x"></i></a>
            <p class="under-btn">
                Show me options for bare metal, virtualized servers, and 
                infrastructure-as-a-service.
            </p>
        </div>
    </div>
    <div class="col-md-4">
        <div class="well select-next">
            <a href="/wsgi-servers.html" class="btn btn-success btn-full"><i class="fa fa-play fa-inverse fa-2x"></i></a>
            <p class="under-btn">
                How do I execute Python code on a PaaS?
            </p>
        </div>
    </div>
    <div class="col-md-4">
        <div class="well select-next">
            <a href="/web-frameworks.html" class="btn btn-success btn-full"><i class="fa fa-code fa-inverse fa-2x"></i></a>
            <p class="under-btn">
                I'm not yet ready to deploy. Show me web frameworks to use.
            </p>
        </div>
    </div>
</div>
