<div class="row">
    <div class="col-md-4">
        <div class="well select-next">
            <a href="/operating-systems.html" class="btn btn-success btn-full"><i class="fa fa-linux fa-inverse fa-2x"></i></a>
            <p class="under-btn">
                What operating system should I use once I have a server set up?
            </p>
        </div>
    </div>
    <div class="col-md-4">
        <div class="well select-next">
            <a href="/platform-as-a-service.html" class="btn btn-success btn-full"><i class="fa fa-puzzle-piece fa-inverse fa-2x"></i></a>
            <p class="under-btn">
                Forget servers. Give me the easy platform-as-a-service option.
            </p>
        </div>
    </div>
    <div class="col-md-4">
        <div class="well select-next">
            <a href="/web-servers.html" class="btn btn-success btn-full"><i class="fa fa-exchange fa-inverse fa-2x"></i></a>
            <p class="under-btn">
                I'll install Linux as my OS. What web server should I use?
            </p>
        </div>
    </div>
</div>
