<div class="row">
    <div class="col-md-3">
        <div class="well select-next">
            <a href="/django.html" class="btn btn-success btn-full"><i class="fa fa-terminal fa-inverse fa-2x"></i></a>
            <p class="under-btn">
                Tell me more about the Django framework.
            </p>
        </div>
    </div>
    <div class="col-md-3">
        <div class="well select-next">
            <a href="/flask.html" class="btn btn-success btn-full"><i class="fa fa-flask fa-2x"></i></a>
            </a>
            <p class="under-btn">
                I want to learn more about Flask.
            </p>
        </div>
    </div>
    <div class="col-md-3">
        <div class="well select-next">
            <a href="/bottle.html" class="btn btn-success btn-full"><i class="fa fa-tint fa-inverse fa-2x"></i></a>
            <p class="under-btn">
                Show me more information on Bottle.
            </p>
        </div>
    </div>
    <div class="col-md-3">
        <div class="well select-next">
            <a href="/other-web-frameworks.html" class="btn btn-success btn-full"><i class="fa fa-question fa-inverse fa-2x"></i></a>
            <p class="under-btn">
                What other Python web frameworks exist?
            </p>
        </div>
    </div>
</div>
