<div class="pn">
 <div class="pnh"><h3>Sponsored By</h3></div>
 <div class="pnb">
  <a href="https://sentry.io/" style="border:none"><img src="/img/logos/sentry-light.png" alt="Sentry logo" width="100%" style="padding:0 0 2px"></a>
  <p class="sps">Software errors are inevitable. Chaos is not. <a href="https://sentry.io/">Try Sentry for free</a>.</p>
  <hr>
  <a href="https://www.assemblyai.com/" style="border:none"><img src="/img/logos/assemblyai-white-bg.png" alt="AssemblyAI logo" width="100%" style="padding:0 0 8px; border:none"></a>
  <p class="sps">The most accurate speech-to-text API. <a href="https://www.assemblyai.com/">Built for Python developers</a>.</p>
 </div>
</div>
