<div class="pn">
 <div class="pnh"><h3><a href="https://training.talkpython.fm/courses/explore_ansible/introduction-to-ansible-with-python">Learn Ansible</a></h3></div>
 <div class="pnb">
  <a href="https://training.talkpython.fm/courses/explore_ansible/introduction-to-ansible-with-python"><img src="/img/logos/intro-to-ansible.jpg" alt="Introduction to Ansible video course logo." class="shot rnd outl" width="100%"></a>
  <p style="font-size: .8em; margin-top: 10px;">Learn the <a href="https://training.talkpython.fm/courses/explore_ansible/introduction-to-ansible-with-python">Ansible configuration management tool</a> in my latest video course.</p>
 </div>
</div>
