<a href="/django.html">Django</a> is a Python <a href="/web-frameworks.html">web framework</a>.

<a href="http://www.djangoproject.com/" style="border: none;"><img src="/img/logos/django.png" width="100%" alt="Official Django logo. Trademark Django Software Foundation." class="shot" style="margin:32px 0 12px 0"></a>

<p>Part of Django's widespread adoption comes from its broad ecosystem of  
open source code libraries and example projects.</p>

<p>It is a good idea to familiarize yourself with the following projects to  
learn what is available to you beyond the extensive 
"<a href="https://www.quora.com/Why-does-Django-tout-itself-as-a-batteries-included-web-framework-when-you-have-to-manually-write-regexes-to-do-URL-routing">batteries-included</a>"
code base.</p> 

<p>These projects, ordered alphabetically, are also helpful as example 
code for how to build your own applications.</p>


<h2 id="django-by-class-function">Code Examples Sorted by Django Class and Function</h2>
<p>Specific examples are shown on the following individual pages, 
organized by classes and functions provided by Django, that are frequently 
used when building your own web applications.</p>
