<a href="/flask.html">Flask</a> is a Python <a href="/web-frameworks.html">web framework</a>.

<a href="https://flask.palletsprojects.com/" style="border: none;"><img src="/img/logos/flask.jpg" width="100%" alt="Official Flask logo. Flask Artwork License." class="shot" style="margin: 32px 0 32px 0"></a>

<p>Flask's large ecosystem of extensions make it easier for developers to 
build common web app features such as authentication, 
<a href="/databases.html">relational database access</a> and 
APIs even though support is not built into the core Flask library.</p>


<h2 id="flask-by-class-function">Code Examples Sorted by Flask Class and Function</h2>
<p>Specific examples are shown on the following individual pages, 
organized by classes and functions provided by Flask, that are frequently 
used when building your own web applications.</p>
