<a href="/sqlalchemy.html">SQLAlchemy</a>
is a well-regarded database toolkit and 
<a href="/object-relational-mappers-orms.html">object-relational mapper (ORM)</a>
implementation written in Python. SQLAlchemy provides a generalized 
interface for creating and executing database-agnostic code without 
needing to write SQL statements.

<a href="http://www.sqlalchemy.org/"><img src="/img/logos/sqlalchemy.jpg" width="100%" alt="SQLAlchemy logo." class="shot"></a>


<h2 id="flask-by-class-function">Code Examples Sorted by SQLAlchemy Package</h2>
<p>Specific examples are shown on the following individual pages, 
organized by classes and functions provided by SQLAlchemy, that are typically 
used when building your own applications.</p>
