<h3>Those podcasts should help you get started. What's next?</h3>
<div class="row">
    <div class="c4">
        <div class="well select-next">
            {% include "choices/buttons/best-python-resources.html" %}
        </div>
    </div>
    <div class="c4">
        <div class="well select-next">
            {% include "choices/buttons/deployment.html" %}
        </div>
    </div>
    <div class="c4">
        <div class="well select-next">
            {% include "choices/buttons/introduction.html" %}
        </div>
    </div>
</div>
