<h3>What do you need to learn next for your Django app?</h3>
<div class="row">
    <div class="c4">
        <div class="well select-next">
            {% include "choices/buttons/cascading-style-sheets.html" %}
        </div>
    </div>
    <div class="c4">
        <div class="well select-next">
            {% include "choices/buttons/api-integration.html" %}
        </div>
    </div>
    <div class="c4">
        <div class="well select-next">
            {% include "choices/buttons/deployment.html" %}
        </div>
    </div>
</div>
