<h3>What's next once your development environment is set up?</h3>
<div class="row">
    <div class="c4">
        <div class="well select-next">
            {% include "choices/buttons/vim.html" %}
        </div>
    </div>
    <div class="c4">
        <div class="well select-next">
            {% include "choices/buttons/web-frameworks.html" %}
        </div>
    </div>
    <div class="c4">
        <div class="well select-next">
            {% include "choices/buttons/data.html" %}
        </div>
    </div>
</div>
