<h3>Learn more about template engines or move to a new topic?</h3>
<div class="row">
    <div class="c4">
        <div class="well select-next">
            {% include "choices/buttons/template-engines.html" %}
        </div>
    </div>
    <div class="c4">
        <div class="well select-next">
            {% include "choices/buttons/web-frameworks.html" %}
        </div>
    </div>
    <div class="c4">
        <div class="well select-next">
            {% include "choices/buttons/deployment.html" %}
        </div>
    </div>
</div>
