<h3>What else do you want to learn?</h3>
<div class="row">
    <div class="c4">
        <div class="well select-next">
            {% include "choices/buttons/static-site-generator.html" %}
        </div>
    </div>
    <div class="c4">
        <div class="well select-next">
            {% include "choices/buttons/web-frameworks.html" %}
        </div>
    </div>
    <div class="c4">
        <div class="well select-next">
            {% include "choices/buttons/deployment.html" %}
        </div>
    </div>
</div>
