<h3>After setting up your OS you should configure a web server.</h3>
<div class="row">
    <div class="c4">
        <div class="well select-next">
            {% include "choices/buttons/web-servers.html" %}
        </div>
    </div>
    <div class="c4">
        <div class="well select-next">
            {% include "choices/buttons/application-dependencies.html" %}
        </div>
    </div>
    <div class="c4">
        <div class="well select-next">
            {% include "choices/buttons/platform-as-a-service.html" %}
        </div>
    </div>
</div>
