<h3>Do you want to learn about CSS, JavaScript or static files next?</h3>
<div class="row">
    <div class="c4">
        <div class="well select-next">
            {% include "choices/buttons/cascading-style-sheets.html" %}
        </div>
    </div>
    <div class="c4">
        <div class="well select-next">
            {% include "choices/buttons/static-content.html" %}
        </div>
    </div>
    <div class="c4">
        <div class="well select-next">
            {% include "choices/buttons/javascript.html" %}
        </div>
    </div>
</div>
